/* OpenShift Logos Icon Font */
@font-face {
    font-family: 'openshift-logos-icon';
    src: url('../font/openshift-logos-icon.ttf') format('truetype'), url('../font/openshift-logos-icon.woff') format('woff'), url('./font/openshift-logos-icon.svg#openshift-logos-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .font-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'openshift-logos-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-infinispan:before {
    content: "\f159";
  }
  .icon-mediawiki:before {
    content: "\f158";
  }
  .icon-js:before {
    content: "\f157";
  }
  .icon-symfony:before {
    content: "\f156";
  }
  .icon-phalcon:before {
    content: "\f155";
  }
  .icon-angularjs:before {
    content: "\f154";
  }
  .icon-ansible:before {
    content: "\f153";
  }
  .icon-play:before {
    content: "\f129";
  }
  .icon-jboss:before {
    content: "\f114";
  }
  .icon-github:before {
    content: "\f101";
  }
  .icon-git:before {
    content: "\f102";
  }
  .icon-openjdk:before,
  .icon-rh-openjdk:before {
    content: "\f103";
  }
  .icon-rails:before {
    content: "\f104";
  }
  .icon-php:before {
    content: "\f105";
  }
  .icon-ruby:before {
    content: "\f106";
  }
  .icon-django:before {
    content: "\f107";
  }
  .icon-nodejs:before {
    content: "\f108";
  }
  .icon-jenkins:before {
    content: "\f109";
  }
  .icon-python:before {
    content: "\f110";
  }
  .icon-perl:before {
    content: "\f112";
  }
  .icon-zend:before {
    content: "\f113";
  }
  .icon-tomcat:before {
    content: "\f115";
  }
  .icon-spring:before {
    content: "\f116";
  }
  .icon-mysql-database:before {
    content: "\f117";
  }
  .icon-postgresql:before {
    content: "\f118";
  }
  .icon-mongodb:before {
    content: "\f119";
  }
  .icon-mariadb:before {
    content: "\f120";
  }
  .icon-wordpress:before {
    content: "\f121";
  }
  .icon-drupal:before {
    content: "\f122";
  }
  .icon-codeigniter:before {
    content: "\f123";
  }
  .icon-shadowman:before {
    content: "\f124";
  }
  .icon-stackoverflow:before {
    content: "\f125";
  }
  .icon-aerogear:before {
    content: "\f126";
  }
  .icon-capedwarf:before {
    content: "\f127";
  }
  .icon-redis:before {
    content: "\f128";
  }
  .icon-clojure:before {
    content: "\f130";
  }
  .icon-scala:before {
    content: "\f131";
  }
  .icon-grails:before {
    content: "\f132";
  }
  .icon-beaker:before {
    content: "\f133";
  }
  .icon-go-gopher:before {
    content: "\f111";
  }
  .icon-joomla:before {
    content: "\f134";
  }
  .icon-load-balancer:before {
    content: "\f136";
  }
  .icon-wildfly:before {
    content: "\f135";
  }
  .icon-laravel:before {
    content: "\f137";
  }
  .icon-rabbitmq:before {
    content: "\f152";
  }
  .icon-openstack:before {
    content: "\f151";
  }
  .icon-nginx:before {
    content: "\f150";
  }
  .icon-memcached:before {
    content: "\f149";
  }
  .icon-jruby:before {
    content: "\f148";
  }
  .icon-jetty:before {
    content: "\f147";
  }
  .icon-haproxy:before {
    content: "\f146";
  }
  .icon-hadoop:before {
    content: "\f145";
  }
  .icon-glassfish:before {
    content: "\f144";
  }
  .icon-gitlab:before {
    content: "\f143";
  }
  .icon-erlang:before {
    content: "\f142";
  }
  .icon-elastic:before {
    content: "\f141";
  }
  .icon-dotnet:before {
    content: "\f140";
  }
  .icon-casadra:before,
  .icon-cassandra:before {
    content: "\f139";
  }
  .icon-apache:before {
    content: "\f138";
  }
  .icon-3scale:before {
    content: "\e900";
  }
  .icon-amq:before {
    content: "\e901";
  }
  .icon-datagrid:before {
    content: "\e902";
  }
  .icon-datavirt:before {
    content: "\e903";
  }
  .icon-decisionserver:before {
    content: "\e904";
  }
  .icon-eap:before {
    content: "\e905";
  }
  .icon-processserver:before {
    content: "\e906";
  }
  .icon-rh-integration:before {
    content: "\e907";
  }
  .icon-rh-tomcat:before {
    content: "\e908";
  }
  .icon-sso:before {
    content: "\e909";
  }
  .icon-openshift:before {
    content: "\e90a";
  }
  .icon-cordova:before {
    content: "\e90b";
  }
  .icon-xamarin:before {
    content: "\e90c";
  }
  .icon-kubevirt:before {
    content: "\e90d";
  }
  .icon-mssql:before {
    content: "\e90e";
  }
  .icon-debian:before {
    content: "\e90f";
  }
  .icon-fedora:before {
    content: "\e910";
  }
  .icon-freebsd:before {
    content: "\e911";
  }
  .icon-other-linux:before {
    content: "\e912";
  }
  .icon-other-unknown:before {
    content: "\e913";
  }
  .icon-suse:before {
    content: "\e914";
  }
  .icon-ubuntu:before {
    content: "\e915";
  }
  .icon-windows:before {
    content: "\e916";
  }