body {
    padding-top: 120px;
    font-size: 14px;
}

body > .container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.home-content {
    padding: 5px 10px;
}

.span12 {
    padding: 5px 10px;
}

.inner-container {
    min-height: 275px;
}

.navbar-inner {
    min-height: 110px;
    background-color: #dde7ec;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
}

.banner-home-link {
    height: 110px;
    width: 320px;
    float: left;
    cursor: pointer;
}

.navbar .container {
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 20px;
    padding: 0 15px;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
    margin-top: 5px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle:hover {
    background-color: #669eb2;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar .nav > li > a {
    color: #e25027;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    margin: 2px;
}

.navbar .nav > li > a:hover {
    background-color: #669eb2;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover {
    background-color: #e25027;
    background-image: none;
    position: absolute;
    top: 0;
    left: 0;
}

.social-menu {
    min-width: 60px;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
    border-top-color: inherit;
    border-bottom-color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-primary {
    background-color: #e25027;
    background-image: -ms-linear-gradient(top, #f27552, #d63a0e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f27552), to(#d63a0e));
    background-image: -webkit-linear-gradient(top, #f27552, #d63a0e);
    background-image: -o-linear-gradient(top, #f27552, #d63a0e);
    background-image: -moz-linear-gradient(top, #f27552, #d63a0e);
    background-image: linear-gradient(top, #f27552, #d63a0e);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f27552', endColorstr='#d63a0e', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

.splash {
    background-color: #ffffff;
    max-width: 1280px;
}

.start-header {
    text-align: center;
    margin-bottom: 10px;
}

.splash .lower-image {
    display: none;
    margin: 0 auto;
}

.start-header .start-title {
    color: #45698B;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.start-header p {
    font-size: 20px;
}

/* Content Styles */
.home-content a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.aerogear-list {
    list-style: url("/img/aerogear_icon_16px.png");
}


.latest-news {
    border: 2px solid rgba(88,140,165, 1.0);
    background-color: rgba(197, 219, 229, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.latest-news > div {
    padding: 5px;
}

.latest-news a {
    display: inline;
    color: #0088CC;
}

.modules {
    text-align: center;
}

.modules .module {
    text-align: center;
    float: none;
    display: inline-block;
    width: 22%;
    border: 2px solid #c3d3e3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.module img {
    width: 90%;
    max-width: 200px;
}

.download-row > .span6 > .span6 {
    border: 2px solid #c3d3e3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.span4 > div, .download-row > .span6 > .span6 > div {
    padding: 5px;
}

.span4 .btn {
    display: block;
}

.download-row > .span6 {
    border: none;
}

.download-row > .span6 > .span6 {
    margin-left: 0;
}

.download-row > .span6 > div {
    padding: 0;
}

#repo-container {
    position: relative;
    display: none;
    padding: 20px 0;
    float: right;
    width: 100%;
    margin-top: 10px;
}

#fork-link img {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 0;
    border: 0;
}

.repo {
    min-height: 115px;
}

.repo li > i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
}
.repo li.dir .icon-folder-open {
    color: #80a6cd;
}

.repo-btns {
    margin-left: 20px;
}

pre {
    font-size: 10px;
}
.home-content pre {
    margin-left: -40px;
}

.span2 {
    min-height: 1px;
}

.nav-box-left {
    padding: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #aaa;
    position: fixed;
    top: 130px;
    width: 150px;
    background-color: white;
}

.nav-box-left-nested {
    padding: 0;
}

.nav-box > li > a {
    border-top: 1px solid #ccc;
    margin: 0 0 -1px;
    padding: 8px 10px;
}

.nav-box > li > a:first-child {
    border: none;
}

.nav-box > li > a:hover {
    background-color: #c3d3e3;
    color: #444;
}

.nav-box > li > a .icon-chevron-down {
    float: right;
    color: #aaa;
}

.nav-box > li > a:hover .icon-chevron-down {
    color: #444;
}

.nav-box-left-nested > li > a {
    padding: 8px 0 8px 10px;
    margin-left: 20px;
}

.navbar .nav .nav-box .active a {
    color: #fff;
    background-color: #08C;
}

.dropdown-menu a {
    color: #08C;
    font-weight: bold;
}

.download-row {
    margin-left: 0;
}

.download-row > .span6 {
    width: 46%;
}

.download-row .span6 > .span6 {
    width: 100%;
}

.sectionbody img {
    max-height: 400px;
}

.note-tip-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #669EB2;
}

.note-tip-block {
    margin: 10px 0;
}

.note-tip-block td {
    padding: 10px;
}

.note-tip-content {
    background-color: #F8F4E1;
    border: 1px solid #DDDDDD;
}

.post {
	font-size: 1.3em;
    font-weight: lighter;
}

.post img {
	float: left;
	padding: 10px 10px 10px 0px;
}

.post ul {
	list-style-position: inside;
}

.title-break {
    display: none;
    line-height: 1em;
}

.title-line2 {
    margin-top: -10px;
}

.accordion-group {
    margin-top: 20px;
    font-size: 18px;
    border: none;
}

.accordion-group h2 {
    color: #C6000F;
}

.accordion-group .image-container {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EEEEEE;
    padding: 8px;
    display: inline-block;
}

.accordion-group .image-container img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.nav-collapse.hidden {
    display: inherit;
    visibility: visible;
}

.nav-collapse.hidden .navbar {
    display: none;
}

.download-row .span6 h2 {
    color: #c6000f;
    padding-left: 5px;
    background-color: #c3d3e3;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 7px 7px 0 0;
    margin-bottom: 10px;
}

/* Footer Styles */
footer.container {
    margin-top: 20px;
    background-color: rgba(197, 219, 229, 0.5);
    border-top: 3px solid #CCCCCC;
}

footer .span3 {
    padding: 10px;
}

footer h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

footer h3.twitter-notFound {
    font-size: 20px;
}

footer .span3 > p {
    font-size: 18px;
}

footer .row .span3:last-child {
    position: relative;
    min-height: 150px;
}

.footer-logo {
    display: block;
}

.footer-jboss {
    display: block;
    margin-top: 20px;
}

.attribution {
    font-size: 10px;
    float: right;
    display: inline-block;
    margin-top: 20px;
}

#aerogear-twitter {
    height: 300px;
    padding-right: 10px;
    overflow: scroll;
}
#aerogear-twitter li {
    margin-bottom: 10px;
    font-size: 12px;
    clear: both;
    list-style-type:none;
}
#aerogear-twitter li img {
    float:left;
    margin:0px 10px 10px 0px;
    border:1px solid #c2c2c2;
    -moz-box-shadow: 0px 0px 4px #c2c2c2;
    -webkit-box-shadow: 0px 0px 4px #c2c2c2;
    box-shadow: 0px 0px 4px #c2c2c2;
}
#aerogear-twitter li a {
    text-decoration:none;
    color: #009;
}

.select-all {
    margin: 10px;
}

.component-group {
    list-style: none;
}

.component {
    display: inline;
}

.desc {
    display: block;
    color: #777;
    font-size: .9em;
}

.builder-alert {
    display: none;
}

.custom-builder {
    margin-left: 0;
}

.loading-indicator {
    text-align: center;
    padding-bottom: 10px;
}

.navbar-fixed-top {
    margin: inherit;
}

.topic-page-logo {
    float: left;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
    height: 300px;
}

.topic-page-logo img {
    width: 90%;
    max-width: 200px;
}

.basic {
    padding: 10px;
}

@media (max-width: 1200px) {
    .start-header .start-title {
        font-size: 30px;
    }

    .start-header p {
        font-size: 18px;
    }

    .span4 h3 {
        font-size: 16px;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }

    .navbar .container {
        position: relative;
        right: auto;
        bottom: auto;
    }

    .nav-collapse {
        background-color: #999999;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: -5px;
        padding: 0 2px;
    }

    .nav-collapse.hidden {
        display: none;
        visibility: hidden;
    }

    .nav-collapse.hidden .navbar {
        display: inherit;
    }

    .nav-collapse .nav {
        margin: 0;
        background: #ffffff;
    }

    .menu-closed {
        width: 0;
        height: auto;
        overflow: hidden;
        -webkit-transition: width 0.35s ease;
        -moz-transition: width 0.35s ease;
        -o-transition: width 0.35s ease;
        transition: width 0.35s ease;
    }

    .menu-closed .navbar {
        margin: 2px 0;
    }

    .menu-closed .navbar-inner {
        background-image: none;
        background-color: #E25027;
        min-height: 0;
        text-align: center;
        font-weight: bold;
        color: #FFFFFF;
    }

    .menu-open {
        width: 205px;
    }

    .menu-close-button {
        cursor: pointer;
        float: right;
        font-size: 24px;
    }

    .twitter-image:after {
        content: " Twitter";
    }
    .gplus-image:after {
        content: "  Google+";
    }
    .fb-image:after {
        content: "  Facebook";
    }

    .start-header p {
        font-size: 14px;
    }

    .span2 {
        display: none;
    }

    .span10 {
        float: none;
        width: 100%;
    }

    .nav-box {
        position: relative;
        top: 0;
        width: 100%;
    }

    .post img {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    .start-header {
        margin: 0 auto;
    }

    .start-header .start-title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .start-header p {
        font-size: 12px;
    }

    .span4 {
        width: 100%;
    }

    .module {
        width: 45%;
    }

    .download-row .span6 {
        width: 98%;
    }

    .home-content h2 {
        font-size: 20px;
    }

    .latest-news {
        margin-right: -4px;
    }

    .accordion-title {
        background: #CCCCCC;
        cursor: pointer;
        padding: 0 10px;
        margin-left: -10px;
        width: 100%;
    }

    footer .logos {
        text-align: center;
    }

    .footer-logo, .footer-jboss {
        display: inline;
    }

    .attribution {
        float: none;
    }
}

@media (max-width: 640px) {

    .inner-container h1 {
        font-size: 28px;
    }

    .home-content h2 {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .title-break {
        display: inline;
    }

    .modules .module {
        width: 48%;
    }

    .home-content h2 {
        font-size: 1.5em;
    }

    .home-content .home-accordion h2 {
        font-size: 12px;
    }

    .library-landing .span3 {
        width: 95%;
        margin-bottom: 30px;
    }

    .topic-page-logo {
        float: right;
        margin: none;
        height: auto;
    }

    .topic-page-logo img {
        width: 75px;
    }
}
