body {
    background-image: url("/img/bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    padding-top: 120px;
    padding-bottom: 40px;
}

.navbar-inner {
    min-height: 110px;
    background-color: #dde7ec;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
}

.navbar .container {
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #669eb2;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar .nav > li > a {
    color: #e25027;
    font-weight: bold;
    text-shadow: none;
    margin: 2px;
}

.navbar .nav > li > a:hover {
    background-color: #669eb2;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover {
    background-color: #e25027;
    background-image: none;
}

.btn-primary {
    background-color: #e25027;
    background-image: -ms-linear-gradient(top, #f27552, #d63a0e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f27552), to(#d63a0e));
    background-image: -webkit-linear-gradient(top, #f27552, #d63a0e);
    background-image: -o-linear-gradient(top, #f27552, #d63a0e);
    background-image: -moz-linear-gradient(top, #f27552, #d63a0e);
    background-image: linear-gradient(top, #f27552, #d63a0e);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f27552', endColorstr='#d63a0e', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

.splash {
    background-color: #ffffff;
    margin: 10px auto;
    padding: 10px;
    max-width: 1280px;
}

.start-header img {
    float: right;
    margin-top: -100px;
}

.splash .lower-image {
    display: none;
    margin: 0 auto;
}

.start-header h2 {
    color: #c6000f;
    padding-top: 100px;
    font-size: 40px;
}

.start-header .btn {
    font-size: 20px;
    color: #ffffff;
    text-shadow: none;
    padding: 8px;
    margin-top: 10px;
    background-color: #e25027;
    background-image: -ms-linear-gradient(top, #f27552, #d63a0e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f27552), to(#d63a0e));
    background-image: -webkit-linear-gradient(top, #f27552, #d63a0e);
    background-image: -o-linear-gradient(top, #f27552, #d63a0e);
    background-image: -moz-linear-gradient(top, #f27552, #d63a0e);
    background-image: linear-gradient(top, #f27552, #d63a0e);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f27552', endColorstr='#d63a0e', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

.start-header .btn:hover {
    background-position: 0 0;
}

footer .row .span4:last-child {
    position: relative;
    min-height: 150px;
}

.footer-logo {
    display: block;
    float: right;
}

.footer-logo:after {
    clear: right;
}

.attribution {
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right: 2px;
}

@media (max-width: 1200px) {
    .start-header h2 {
        font-size: 30px;
        padding-top: 50px;
    }

    .start-header img {
        margin-top: -50px;
    }

    .start-header .btn {
        float: none;
        margin-right: 0;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }

    .navbar .container {
        position: relative;
        right: auto;
        bottom: auto;
    }

    .nav-collapse {
        background-color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .start-header h2 {
        font-size: 20px;
        padding-top: 0;
    }

    .start-header img {
        display: none;
    }

    .splash .lower-image {
        display: block;
    }

    .start-header .btn {
        font-size: 16px;
        font-weight: bold;
        float: right;
        margin-right: 10px;
        margin-top: -35px;
    }

    .span4 h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .start-header {
        margin: 0 auto;
    }

    .start-header h2 {
        font-size: 18px;
    }

    .start-header .btn {
        font-size: 14px;
    }

    .footer-logo {
        float: none;
    }

    .footer-logo:after {
        clear: none;
    }
}

@media (max-width: 640px) {
    .start-header {
        text-align: center;
    }

    .start-header h2 {
        font-size: 18px;
    }

    .start-header .btn {
        margin: 0;
    }

    .start-header .btn, .span4 .btn {
        display: block;
        float: none;
        clear: both;
        font-weight: bold;
    }
}

@media (max-width: 500px) {
    .start-header h2 {
        font-size: 14px;
    }

    .footer-logo {
        width: 100px;
    }
}
