body {
    background-image: url("/img/bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    padding-top: 120px;
    padding-bottom: 40px;
}

.navbar-inner {
    min-height: 110px;
    background-color: #dde7ec;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
}

.banner-home-link {
    height: 110px;
    width: 320px;
    float: left;
    cursor: pointer;
}

.navbar .container {
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #669eb2;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar .nav > li > a {
    color: #e25027;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    margin: 2px;
}

.navbar .nav > li a:hover {
    background-color: #669eb2;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover {
    background-color: #e25027;
    background-image: none;
}

.social-menu {
    min-width: 60px;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
    border-top-color: inherit;
    border-bottom-color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-primary {
    background-color: #e25027;
    background-image: -ms-linear-gradient(top, #f27552, #d63a0e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f27552), to(#d63a0e));
    background-image: -webkit-linear-gradient(top, #f27552, #d63a0e);
    background-image: -o-linear-gradient(top, #f27552, #d63a0e);
    background-image: -moz-linear-gradient(top, #f27552, #d63a0e);
    background-image: linear-gradient(top, #f27552, #d63a0e);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f27552', endColorstr='#d63a0e', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

.splash {
    background-color: #ffffff;
    margin: 10px auto;
    padding: 10px;
    max-width: 1280px;
}

.start-header img {
    float: right;
    margin-top: -100px;
}

.splash .lower-image {
    display: none;
    margin: 0 auto;
}

.start-header h2 {
    color: #45698B;
    padding-top: 100px;
    font-size: 40px;
}

.start-header .btn {
    font-size: 20px;
    color: #ffffff;
    text-shadow: none;
    padding: 8px;
    margin-top: 10px;
    background-color: #e25027;
    background-image: -ms-linear-gradient(top, #f27552, #d63a0e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f27552), to(#d63a0e));
    background-image: -webkit-linear-gradient(top, #f27552, #d63a0e);
    background-image: -o-linear-gradient(top, #f27552, #d63a0e);
    background-image: -moz-linear-gradient(top, #f27552, #d63a0e);
    background-image: linear-gradient(top, #f27552, #d63a0e);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f27552', endColorstr='#d63a0e', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

.start-header .btn:hover {
    background-position: 0 0;
}

/* Content Styles */
.aerogear-list {
    list-style: url("/img/aerogear_icon_16px.png");
}

.aerogear-list li {
    margin-left: 20px;
}

.span4 {
    width: 360px;
    border: 2px solid #c3d3e3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.home-content .span4 {
    min-height: 550px;
}

.span4 h2 {
    color: #c6000f;
    padding-left: 5px;
    background-color: #c3d3e3;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 7px 7px 0 0;
    margin-bottom: 10px;
}

.span4 > div {
    padding: 5px;
}

.span4 .btn {
    display: block;
}

.download-row > .span4 {
    border: none;
}

.download-row > .span4 > .span4 {
    margin-left: 0;
}

.download-row > .span4 > div {
    padding: 0;
}

#repo-container {
    position: relative;
    display: none;
    padding: 20px;
}

#fork-link img {
    z-index: 100;
}

.repo {
    min-height: 115px;
}

.repo li > i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
}
.repo li.dir .icon-folder-open {
    color: #80a6cd;
}

pre {
    font-size: 10px;
}
.home-content pre {
    margin-left: -40px;
}

.span2 {
    min-height: 1px;
}

.nav-box {
    padding: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #aaa;
    position: fixed;
    top: 140px;
    width: 150px;
    background-color: white;
}

.nav-box > li > a {
    border-top: 1px solid #ccc;
    margin: 0 0 -1px;
    padding: 8px 10px;
}

.nav-box > li > a:first-child {
    border: none;
}

.nav-box > li > a:hover {
    background-color: #c3d3e3;
    color: #444;
}

.nav-box > li > a .icon-chevron-right {
    float: right;
    color: #aaa;
}

.nav-box > li > a:hover .icon-chevron-right {
    color: #444;
}

.download-row .span4 {
    width: 450px;
}

.sectionbody img {
    max-height: 350px;
}

.note-tip-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #669EB2;
}

.note-tip-block {
    margin: 10px 0;
}

.note-tip-block td {
    padding: 10px;
}

.note-tip-content {
    background-color: #F8F4E1;
    border: 1px solid #DDDDDD;
}

.post {
	font-size: 1.3em;
}

.post img {
	float: left;
	padding: 10px 10px 10px 0px;
}

/* Footer Styles */
footer h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

footer h3.twitter-notFound {
    font-size: 20px;
}

footer .span3 > p {
    font-size: 18px;
}

footer .row .span3:last-child {
    position: relative;
    min-height: 150px;
}

.footer-divider {
    border-color: #CCC;
}

.footer-logo {
    display: block;
}

.footer-jboss {
    display: block;
    margin-top: 20px;
}

.attribution {
    font-size: 10px;
    float: right;
    margin-top: 20px;
}

#aerogear-twitter {
    height: 300px;
    padding-right: 10px;
    overflow: scroll;
}
#aerogear-twitter li {
    margin-bottom: 10px;
    font-size: 12px;
    clear: both;
    list-style-type:none;
}
#aerogear-twitter li img {
    float:left;
    margin:0px 10px 10px 0px;
    border:1px solid #c2c2c2;
    -moz-box-shadow: 0px 0px 4px #c2c2c2;
    -webkit-box-shadow: 0px 0px 4px #c2c2c2;
    box-shadow: 0px 0px 4px #c2c2c2;
}
#aerogear-twitter li a {
    text-decoration:none;
    color: #009;
}

@media (max-width: 1200px) {
    .start-header h2 {
        font-size: 30px;
        padding-top: 50px;
    }

    .start-header img {
        margin-top: -50px;
    }

    .start-header .btn {
        float: none;
        margin-right: 0;
    }

    .span4 {
        width: 290px;
    }

    .download-row .span4 {
        width: 375px;
    }

    .span4 h2 {
        font-size: 19px;
    }

    .span4 h3 {
        font-size: 16px;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }

    .navbar .container {
        position: relative;
        right: auto;
        bottom: auto;
    }

    .nav-collapse {
        background-color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .twitter-image:after {
        content: " Twitter";
    }
    .gplus-image:after {
        content: "  Google+";
    }
    .fb-image:after {
        content: "  Facebook";
    }

    .start-header h2 {
        font-size: 20px;
        padding-top: 0;
    }

    .start-header img {
        display: none;
    }

    .splash .lower-image {
        display: block;
    }

    .start-header .btn {
        font-size: 16px;
        font-weight: bold;
        float: right;
        margin-right: 10px;
        margin-top: -35px;
    }

    .span2 {
        display: none;
    }

    .span10 {
        float: none;
        width: 100%;
    }

    .nav-box {
        position: relative;
        top: 0;
        width: 100%;
    }

    .home-content .span4 {
        width: 218px;
        min-height: 0px;
    }

    .download-row .span4 {
        width: 325px;
    }

    .download-row > .span4 {
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .start-header {
        margin: 0 auto;
    }

    .start-header h2 {
        font-size: 18px;
    }

    .start-header .btn {
        font-size: 14px;
    }

    .home-content .span4, .span4, .download-row .span4 {
        width: 100%;
    }

    .download-row > .span4 {
        margin-left: 0;
    }
}

@media (max-width: 640px) {
    .start-header {
        text-align: center;
    }

    .start-header h2 {
        font-size: 18px;
    }

    .start-header .btn {
        margin: 0;
    }

    .start-header .btn {
        display: block;
        float: none;
        clear: both;
        font-weight: bold;
    }

    .inner-container h1 {
        font-size: 28px;
    }
}

@media (max-width: 500px) {
    .start-header h2 {
        font-size: 14px;
    }
}
