/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.

/* ==================================================================================================================
 * Base styles: opinionated defaults
 * ==================================================================================================================
 */
html, button, input, select, textarea
  color: #222

body
  font-size: 1em
  line-height: 1.4

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection, ::selection
  background: #b3d4fc
  text-shadow: none

/*
 * A better looking default horizontal rule
 */
hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid rgba(204, 204, 204, 0.29)
  margin-top: 2em
  margin-bottom: 0.75em
  padding: 0

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img
  vertical-align: middle

/*
 * Remove default fieldset styles.
 */
fieldset
  border: 0
  margin: 0
  padding: 0

/*
 * Allow only vertical resizing of textareas.
 */
textarea
  resize: vertical

/* ==================================================================================================================
 * Chrome Frame prompt
 * ==================================================================================================================
 */
.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

/* ==================================================================================================================
 * AeroGear custom styles for desktop
 * ==================================================================================================================
 */
/* =================== custom fonts =================================================================================
 */

@font-face
  font-family: 'Open Sans'
  src: url('/font/OpenSans-Regular-webfont.eot')
  src: url('/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/OpenSans-Regular-webfont.woff') format('woff'), url('/font/OpenSans-Regular-webfont.ttf') format('truetype'), url('/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg')
  font-weight: normal
  font-style: normal

/* =================== Pre-processors: mixins definition, color etc ==================================================
 */

$gear-color:#669eb2
$aero-color:#e25027
$main-text-color: #575653
$filling-color: #f2f2f2
$line-filling-color:#dadada
$news-text-color: #878787
$menu-text-color:#7F7F7F
$heading-color:#ffffff
$footer-color: #121212

/* Code snipet tab */
$tab-border-color: #323232
$section-color: #323232
$core-color: #df7220
$seperator-color: #121212
$section-text-color: #ebebeb
$code: #222

/* =================== Customs Mixins ============================================================================
 */

@mixin border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

$break-phone:656px
$break-tablet:848px

@mixin respond-to($media-size)
  @if $media-size == phone
    @media only screen and (max-width: $break-phone)
      @content
  @else if $media-size == tablet
    @media only screen and (min-width:$break-phone + 1) and (max-width: $break-tablet - 1)
      @content
  @else if $media-size == desktop
    @media only screen and (min-width: $break-tablet)
      @content



$size-ref:1em

$section-color:#323232
$push-color:#C652BB
$core-color:#E17408
$security-color:#6CC319
$sync-color:#3F95F1
$seperator-color:#121212
$section-text-color:#ebebeb
$code: #222

@mixin color-with($feature)
  @if $feature == push
    div.push
      a
        color: $push-color
        text-decoration: none
      strong
        font-weight: bold
      a:hover
        text-decoration: underline
      .section-strip
        border-top-color: $push-color
      .padding-push
        margin-bottom: 5.7em
        @include respond-to(phone)
          display: none
        @include respond-to(tablet)
          margin-bottom: 4.2em
  @if $feature == sync
    div.sync
      a
        color: $sync-color
        text-decoration: none
      strong
        font-weight: bold
      a:hover
        text-decoration: underline
      .section-strip
        border-top-color: $sync-color
  @if $feature == core
    div.core
      a
        color: $core-color
        text-decoration: none
      strong
        font-weight: bold
      a:hover
        text-decoration: underline
      .section-strip
        border-top-color: $core-color
  @if $feature == security
    div.security
      a
        color: $security-color
        text-decoration: none
      strong
        font-weight: bold
      a:hover
        text-decoration: underline
      .section-strip
        border-top-color: $security-color


/* =================== Standard elements ============================================================================
 */

a
  color: $core-color
  text-decoration: none
  &:hover
    opacity: 0.61
    text-decoration: underline
  @include respond-to(phone)
    &.fixed
      display: none !important

.basic a:hover
  opacity: 0.61


h1, h2, h3, h4
  color: $aero-color
  font-weight: 700
  letter-spacing: -1px

h1
  font-size: $size-ref + 1em
  @include respond-to(phone)
    font-size: 1.75em
    margin: 3em 0 0 0

h2
  font-size: $size-ref + 0.75em
  @include respond-to(phone)
    font-size: $size-ref + 0.25em

h3
  font-size: $size-ref + 0.25em

h4
  font-size: $size-ref
  margin-top: 3em

h2 + h3, h3 + h4
  margin-top: 0.875em

img
  max-width: 100%
  height: auto

body
  font-family: "Open Sans", sans-serif
  color: $main-text-color

p
  @include border-box
  overflow: hidden
  text-overflow: ellipsis
  @include respond-to(desktop)
    max-width: 960px
  @include respond-to(tablet)
    max-width: 720px

.clearfix
  clear: both

/* CSS for markdown [NOTE]
 */

.title
  text-align: left
  font-weight: 700

.icon
  display: table-cell
  vertical-align: top

/* In tutorial guide, keep limited image size
  */
.sectionbody img
  max-height: 400px

/* =================== Nav bar ======================================================================================
 */
#main-header
  nav
    display: inline-block
    margin-top: 18px
    background-color: $filling-color
    border-top: 1px solid $line-filling-color
    border-bottom: 1px solid $line-filling-color
    width: 100%
    ul
      padding-left: 0
  ul
    list-style: none
    max-width: 60em
    margin-left: auto
    margin-right: auto
  nav li
    display: inline-block
    margin: 0 1.2em
    &#download-btn
      display: none
    a
      text-decoration: none
      font-size: 0.9em
      color: $menu-text-color
      padding-bottom: 1.2em
    &.selected a
      color: #373435

nav a:hover
  border-bottom: 2px solid $gear_color
  color: $gear_color !important

/* =================== AeroGear title ===============================================================================
 */
#logo
  height: 5.75em
  background-repeat: no-repeat
  background-position: left
  @media only screen and (max-width: 656px)
    background-position: center
  background-image: url(/img/aerogear_logo.png)
  margin-left: 5%

.end-title
  /* keep space for grey menu bar */
  margin-bottom: 5.5em
  max-width: 60em
  margin: 0 auto

a.news
  margin-top: -1.6em
  font-style: italic
  float: right
  color: $news-text-color
  text-decoration: none
  margin-bottom: -1.3em
  padding-right: 0.4em
  text-align: right
  &:hover
    text-decoration: underline

/* =================== Core, Push, Security section =====================================================================
 */

div.section
  color: $section-text-color
  background-color: $section-color
  border-top: $seperator-color solid 16px
  i
    color: grey
  &.core .sect1 h2
    @include respond-to(desktop)
      background: url('/img/ag-core.png') no-repeat left
      margin: -40px
      padding: 40px
    color: $section-text-color
  &.push .sect1 h2
    @include respond-to(desktop)
      background: url('/img/ag-push.png') no-repeat left
      margin: -40px
      padding: 40px
    color: $section-text-color
  &.sync .sect1 h2
    @include respond-to(desktop)
      background: url('/img/ag-sync.png') no-repeat left
      margin: -40px
      padding: 40px
    color: $section-text-color
  &.security .sect1 h2
    @include respond-to(desktop)
      background: url('/img/ag-security.png') no-repeat left
      margin: -40px
      padding: 40px
    color: $section-text-color
  .sect1 h3
    text-transform: uppercase
    color: $section-text-color
  pre
    background-color: $code
    border: none
  .hljs
    background-color: $code


@include color-with(core)

@include color-with(push)

@include color-with(security)

.section-strip
  border-top-width: 4px
  border-top-style: solid

/* =================== Code tabs =====================================================================
 */    
.nav .nav-tabs
  margin-right: 5%
  border: 0

.nav 
  margin-bottom: 0 
  padding-left: 0 
  list-style: none 

.nav:before,
.nav:after 
  content: " " 
  display: table 

.nav:after 
  clear: both 

.nav > li 
  position: relative 
  display: block 

.nav > li > a 
  position: relative 
  display: block 
  padding: 10px 15px 

.nav > li > a:hover,
.nav > li > a:focus 
  text-decoration: none 
  background-color: $code 

.nav-tabs   
  border-bottom: 1px solid $section-color 
  margin: 0 0.5em
 
.nav-tabs > li  
  float: right 
  margin-bottom: -1px 
 
.nav-tabs > li > a  
  margin-right: 2px 
  line-height: 1.428571429 
  border: 1px solid transparent 
  border-radius: 4px 4px 0 0 
  color: $section-text-color
 
.nav-tabs > li > a:hover  
  border-color: $section-color $section-color $seperator-color 
 
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus  
  background-color: $code 
  border: 1px solid $section-color 
  border-bottom-color: transparent 
  cursor: default     

.tab-content > .tab-pane 
  @include respond-to(desktop)
  display: none

.tab-content > .active 
  @include respond-to(desktop)
  display: block

.tab-content pre
  padding: 20px
  margin-right: 0
  margin-top: 0
  
/* =================== Toc =====================================================================
 */
.core #toc li.toc-active:before
  border-color: $core-color

#toc 
  position: fixed
  padding-top: 2em

  li.toc-active:before
    content: ""
    border-left: 4px solid
    padding-right: 10px
    margin-left: -14px
      
  ul
    margin: 0
    padding: 0
    list-style: none

  li 
    padding: 5px 10px

  a 
    color: #fff
    text-decoration: none
    display: inline

  .toc-h2 
    padding-left: 10px

  .toc-h3 
    padding-left: 20px

.content-column 
  @include respond-to(desktop)
    display: table-cell
    padding-top: 2em
    padding-right: 2em
    .basic 
      margin-top: 0

.breadcrumb 
  @include respond-to(desktop)
    background-color: $code
    display: table-cell
    padding-right: 15em
    padding-left: 3em  

/* =================== Main page content: features ==================================================================
 */
.platform
  margin: auto
  max-width: 40em
.features
  p
    @include border-box
  h3
    margin-top: 0
    color: $code
    @include respond-to(phone)
      margin: 0 0.5em

.feature
  margin: 2em auto
  @include respond-to(desktop)
    max-width: 960px
  @include respond-to(tablet)
    max-width: 720px
  .description
    float: left
    p
      margin: 0.75em 0
      @include respond-to(phone)
        margin: 0.75em 1em

/* =================== Footer =======================================================================================
 */
footer
  clear: both
  background-color: $footer-color
  padding: 4em 2.5em 4em
  text-align: center
  .column
    float: left
    min-width: 10em
    padding-right: 1.12em
    margin-right: 1.12em
    &:last-child
      float: left
      padding-right: 0
      margin-right: 0

/* =================== Logos in Footer ==============================================================================
 */
.logos
  img
    margin: 0 1.5em

/* =============== Side Navigation: hidden for desktop ==============================================================
 */

#sideNav
  background: transparent
  width: 220px
  z-index: 1
  left: 10px
  top: 150px
  height: auto
  float: left
  nav.site
    display: none
  li a
    padding: 12px 0 0 10px
  @include respond-to(phone)
    ul
      list-style: none
      margin: 0
      padding: 0
    li a
      color: $menu-text-color
      display: block
      height: 46px
      font-size: 16px
      @include border-box
      padding: 12px 0 0 20px
      text-decoration: none
    nav.site
      @include border-box
      padding: 10px
      display: block
    @include border-box
    padding: 10px
    display: block

#slide-menu-button
  visibility: hidden
  @include respond-to(phone)
    visibility: visible

a#slide-menu-button:hover
  text-decoration: none
  border-bottom: 0px

#site
  @include respond-to(phone)
    width: 100%
    position: absolute
    z-index: 10
    background: inherit
    left: 0
    transition: all 0.2s ease-out
    -webkit-transition: all 0.2s ease-out
    transform: translate3d(0, 0, 0)
    -webkit-transform: translate3d(0, 0, 0)
    &.open
      transform: translate3d(200px, 0, 0)
      -webkit-transform: translate3d(200px, 0, 0)

/* =============== Display facebook icon on footer ==================================================================
 */
.social
  display: inline-block
  margin-top: 6px
  margin-left: 8px
  width: 40px
  height: 40px
  border-radius: 3px
  background-repeat: no-repeat
  background-position: center

.twitter
  background-image: url(/img/twitter_tile.png)

.google-plus
  background-image: url(/img/google_plus_tile.png)

.facebook
  background-image: url(/img/facebook_tile.png)

.twitter:hover
  background-image: url(/img/twitter_tile_hover.png)

.google-plus:hover
  background-image: url(/img/google_plus_tile_hover.png)

.facebook:hover
  background-image: url(/img/facebook_tile_hover.png)

/* =================== Content ======================================================================================
 */
.container
  @include border-box
  width: 100%

.basic, .post
  margin-left: auto
  margin-right: auto
  margin-top: 2em
  width: 90%
  max-width: 960px

.row
  display: inline-block
  float: left
  @include respond-to(phone)
    float: none
  width: 100%

.column_base
  float: left
  display: inline-block

.column
  @extend .column_base
  width: 45%
  @include respond-to(phone)
    width: 100%
    float: none
    margin-right: 1%
    padding-left: 0.5%

.column3
  @extend .column_base
  width: 30%
  @include respond-to(phone)
    width: 100%
    float: none
    margin-right: 1%
    padding-left: 0.5%

.column4
  @extend .column_base
  width: 23%
  @include respond-to(phone)
    width: 100%
    float: none
    margin-right: 1%
    padding-left: 0.5%

@include respond-to(phone)
  .column pre
    margin-right: 2%

pre
  background-color: $filling-color
  border: 1px $line-filling-color dotted
  font-size: 0.8em
  margin-right: 5%
  padding-left: 2%
  white-space: pre

.newsletter-label
  display: inline-block
  min-width: 90px

/* =================== Custom Builder ===============================================================================
 */
.builder-alert
  display: none

.alert
  padding: 8px 35px 8px 14px
  margin-bottom: 18px
  margin-right: 18px
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  background-color: #fcf8e3
  border: 1px solid

.alert-error
  background-color: $filling-color
  border-color: $aero-color
  color: $aero-color

.desc
  padding: 0
  font-style: italic
  font-size: 0.75em

/* ==================================================================================================================
 * Helper classes
 * ==================================================================================================================

/*
 * Image replacement  */

.ir
  background-color: transparent
  border: 0
  overflow: hidden
  /* IE 6/7 fallback   */
  *text-indent: -9999px
  &:before
    content: ""
    display: block
    width: 0
    height: 150%

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden
  display: none !important
  visibility: hidden

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
  */
.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible
  visibility: hidden

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  *zoom: 1

.specTable
  border-style: solid
  border-width: 1px
  th
    border-width: 1px
    border-style: solid
    padding: 5px
  td
    border-width: 1px
    border-style: solid
    padding: 5px
    text-align: center

/* ==================================================================================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ==================================================================================================================
 */
@media print
  *
    background: transparent !important
    color: #000 !important
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important
    text-shadow: none !important
  a
    text-decoration: underline
    &:visited
      text-decoration: underline
    &[href]:after
      content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after
    content: ""
  a
    &[href^="javascript:"]:after, &[href^="#"]:after
      content: ""
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
    /* h5bp.com/t  */
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid
