<div>
	<div id="nonsupported">
	  <p class="overview">Like <span id="project_name"></span>? It’s part of a community of Red Hat projects. Learn more about Red Hat and our open source communities:</p>
	  <div class="row-fluid">
	    <div class="span4 middlewarelogo">
	      <img src="/img/RHJB_Middleware_Logotype.png" alt="Red Hat JBoss MIDDLEWARE">
	    </div>
	    <div class="col-sm-12 visible-xs"></div>
	    <div class="span4">
	      <ul class="level1">
	        <li class="leaf"><a href="http://www.jboss.org/technology">Red Hat JBoss Middleware Overview</a></li>
	        <li class="leaf"><a href="http://www.jboss.org/products/">Red Hat JBoss Middleware Products</a></li>
	        <li class="leaf"><a href="http://www.jboss.org/projects/">Red Hat JBoss Projects &amp; Standards</a></li>
	      </ul>
	    </div>
	    <div class="span4">
	      <ul class="level1">
	        <li class="leaf"><a href="http://www.redhat.com/">redhat.com</a></li>
	        <li class="leaf"><a href="http://access.redhat.com/">Red Hat Customer Portal</a></li>
	        <li class="leaf"><a href="http://www.openshift.com/">OpenShift</a></li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div id="supported">
	  <p class="overview">Red Hat loves <span id="project_name"></span> so much, we've included it in the following supported products:</p>
	  <div class="row-fluid">
	    <div class="span4 middlewarelogo">
	      <img src="/img/RHJB_Middleware_Logotype.png" alt="Red Hat JBoss MIDDLEWARE">
	    </div>
	    <div class="span4">
	      <ul id="products-first-column" class="level1"></ul>
	    </div>
	    <div class="span4">
	      <ul id="products-second-column" class="level1"></ul>
	    </div>
	  </div>
	</div>
<div>
