---
layout: base
title: AeroGear News
nav-active-news: active
section-title: AeroGear News
section-description: Artciles, posts, events, videos and updates.
section-class: news
---

<!-- TODO(agalante) Make this work :) -->
            
<h2 class="section-header">AeroGear News</h2>

{% for post in site.posts %}
{% assign author = site.data.team[post.author] %}
{% assign module = site.data.modules[post.module] %}
<div class="article news" itemscope itemtype="http://schema.org/NewsArticle">
    <div class="article-icon"><i class="fa fa-newspaper-o fa-lg"></i></div>
    <div class="article-header">
        <div class="avatar">
            <img src="{{author.avatar}}" width="60px">
        </div>
        <h4 class="article-title" itemprop="name">
            <a href="{{site.baseurl}}{{post.url}}">
                {% if module.icon %}
                <i class="fa {{module.icon}}"></i>
                {% endif %}
                {{post.title}}
            </a>
        </h4>
        <p class="article-subtitle">by <span itemprop="author">{{author.name}}</span></p>
        <p class="article-date" itemprop="datePublished" content="{{post.date |  date: "%Y-%m-%d" }}">{{post.date |  date: "%-d %b %Y" }}</p>
    </div><!-- article header -->

    <div class="article-description" itemprop="description">
        {{ post.excerpt }}
    </div><!-- article-description -->

</div><!-- article -->
{% endfor %}
              
            <div class="article news" itemscope itemtype="http://schema.org/NewsArticle">
              <div class="article-icon"><i class="fa fa-newspaper-o fa-lg"></i></div>
               <div class="article-header">
                 <h4 class="article-title" itemprop="name">How to Tie a Reef Knot</h4>
                 <p class="article-subtitle">by <span itemprop="author">John Doe</span></p>
                 <p class="article-date" itemprop="datePublished" content="2013-09-14">Sep 14, 2012</p>
               </div><!-- article header -->
               
               <div class="article-description" itemprop="description">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div><!-- article-description -->
                
              </div><!-- article -->    



            <div class="article event" itemscope itemtype="http://schema.org/Event">
            <div class="article-icon"><i class="fa fa-calendar-o fa-lg"></i></div>
            <div class="article-header">
              <h4 class="article-title" itemprop="name">Event Name</h4>
              <p class="article-subtitle" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">Buenos Aires</span>, 
                <span itemprop="Country">Argentina</span>
              </p>
              <p class="article-date" itemprop="startDate" content="2013-09-14">Sep 14, 2012</p>
            </div><!-- article header -->
              
              
              <div itemprop="description">
                <p>Dabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitis aute irure dolor in reprehenderit in voluptate ve.</p>

              </div>


            </div><!-- event-wrapper -->



            <div class="article news  video" itemscope itemtype="http://schema.org/NewsArticle">
              <div class="article-icon"><i class="fa fa-youtube-play fa-lg"></i></div>
               <div class="article-header">
                 <h4 class="article-title" itemprop="name">Star Wars trailer, sample video post</h4>
                 <p class="article-subtitle">by <span itemprop="author">John Doe</span></p>
                 <p class="article-date" itemprop="datePublished" content="2013-09-14">Sep 14, 2012</p>
               </div><!-- article header -->
               
               <div class="article-description" itemprop="description">
                 <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="//www.youtube.com/embed/OMOVFvcNfvE" frameborder="0" allowfullscreen></iframe>
                 </div>
                </div><!-- article-description -->
                
              </div><!-- article -->    



            <div class="article twitter" itemscope itemtype="http://schema.org/NewsArticle">
              <div class="article-icon"><i class="fa fa-twitter fa-lg"></i></div>
               
               <p class="article-twiter" itemprop="description">
              UnifiedPush Server adds support for Push on <a href="#">@Windows</a> Mobile, supporting MPNS and WNS <a href="#">http://aerogear.org/news/2014/12/03/aerogear-unified-push-alpha1-is-out/index.html</a>
              </p><!-- article-description -->
                 <p class="article-subtitle">by <span itemprop="author">@Aerogear</span></p>
                 <p class="article-date" itemprop="datePublished" content="2013-09-14">Sep 14, 2012</p>
                
              </div><!-- article -->    


