---
layout: base
title: AeroGear News
nav-active-news: active
section-title: AeroGear News
section-description: Artciles, posts, events, videos and updates.
section-class: news
---

<!-- TODO(agalante) Make this work :) -->

<h2 class="section-header">AeroGear News</h2>

{% for post in site.data['feed'] %}
<div class="article news" itemscope itemtype="http://schema.org/NewsArticle">
    <div class="article-icon"><i class="fa fa-newspaper-o fa-lg"></i></div>
    <div class="article-header">
        <h4 class="article-title" itemprop="name">
            <a href="{{site.baseurl}}{{post.url}}">
                {% if module.icon %}
                <i class="fa {{module.icon}}"></i>
                {% endif %}
                {{post.title}}
            </a>
        </h4>
        <p class="article-subtitle">by <span itemprop="author">{{post.author}}</span></p>
        <p class="article-date" itemprop="datePublished" content="{{post.date |  date: "%Y-%m-%d" }}">{{post.date |  date: "%-d %b %Y" }}</p>
    </div><!-- article header -->

    <div class="article-description" itemprop="description">
        {{ post.excerpt }}
    </div><!-- article-description -->

    <ul>
        {% for tag in post.tags %}
        <li>
            {{ tag }}
        </li>
        {% endfor %}
    </ul>

</div><!-- article -->
{% endfor %}

{% for post in site.posts %}
{% assign author = site.data.team[post.author] %}
{% assign module = site.data.modules[post.module] %}
<div class="article news" itemscope itemtype="http://schema.org/NewsArticle">
    <div class="article-icon"><i class="fa fa-newspaper-o fa-lg"></i></div>
    <div class="article-header">
        <div class="avatar">
            <img src="{{author.avatar}}" width="60px">
        </div>
        <h4 class="article-title" itemprop="name">
            <a href="{{post.url}}">
                {% if module.icon %}
                <i class="fa {{module.icon}}"></i>
                {% endif %}
                {{post.title}}
            </a>
        </h4>
        <p class="article-subtitle">by <span itemprop="author">{{author.name}}</span></p>
        <p class="article-date" itemprop="datePublished" content="{{post.date |  date: "%Y-%m-%d" }}">{{post.date |  date: "%-d %b %Y" }}</p>
    </div><!-- article header -->

    <div class="article-description" itemprop="description">
        {{ post.excerpt }}
    </div><!-- article-description -->

</div><!-- article -->
{% endfor %}