<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Getting Started</h5>
        <ul class="list-unstyled">
          <li><a href="/getting-started/overview/">Overview</a></li>
          <li><a href="/getting-started/installation-and-configuration/">Installation &amp; Configuration</a></li>
          <li><a href="/getting-started/creating-mobile-apps/">Creating Mobile Apps</a></li>
          <li><a href="/getting-started/enabling-mobile-services/">Enabling Mobile Services</a></li>
        </ul>
      </div><!-- col -->

      <div class="col-sm-3">
        <h5>Mobile Services</h5>
        <ul class="list-unstyled">
         <li><a href="/services/push/">AeroGear <strong>Push</strong></a></li>
         <li><a href="/services/mobile-ci-cd/">AeroGear <strong>Mobile CI/CD</strong></a></li>
         <li><a href="/services/metrics/">AeroGear <strong>Metrics</strong></a></li>
         <li><a href="/services/crc/">AeroGear <strong>CRC</strong></a></li>
         <li><a href="/services/keycloak">AeroGear <strong>Keycloak</strong></a></li>
        </ul>
      </div><!-- col -->

      <div class="col-sm-3">
        <h5>Mobile SDKs</h5>
        <ul class="list-unstyled">
         <li><a href="/sdks/android/">Android</a></li>
         <li><a href="/sdks/cordova/">Cordova</li>
         <li><a href="/sdks/ios/">iOS</a></li>
         <li><a href="/sdks/xamarin/">Xamarin</a></li>
        </ul>
      </div><!-- col -->
      
      <div class="col-sm-3">
        <h5>COMMUNITY</h5>
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://github.com/aerogear/">GitHub - Aerogear</a></li>
          <li><a target="_blank" href="https://github.com/aerogearcatalog/">GitHub - Aerogear Catalog</a></li>
          <li><a target="_blank" href="/docs/planning/">Jira Repo Issues</a></li>
          <li><a  href="/community/contribution-guide/">Contribution Guide</a></li>
          <li><a target="_blank" href="https://groups.google.com/forum/#!forum/aerogear">Google Group</a></li>
          <li><a href="irc://irc.freenode.net/aerogear">IRC</a></li>
        </ul>
      </div><!-- col -->

      <div class="col-sm-12 follow">
        <h5>FOLLOW US</h5>
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.twitter.com/aerogears"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a target="_blank" href="https://www.facebook.com/AeroGearProject"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a target="_blank" href="https://plus.google.com/106588661437153585722/posts"><i class="fa fa-google-plus-square"></i> Google+</a></li>
          <li><a target="_blank" href="/feed.atom"><i class="fa fa-rss-square"></i> Feed</a></li>
        </ul>
        
        <p>AeroGear project is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a></p>
      </div><!-- col -->
    
    </div><!-- row -->

  </div><!-- container -->

</footer><!-- footer -->

<section class="redhat">
  <div class="container">
    <p class="text-center">
      <a href="http://www.redhat.com/">
        <img src="/img/redhatlogo-wite.png" alt="redhatlogo-wite" width="130">
      </a>
    </p>       
  </div><!-- container -->
</section>




<!-- TODO(agalante) **Do we need this? ** 

<script src="/js/main.js"></script>
< to fix iPhone rotate/rescale issue https://gist.github.com/mathiasbynens/901295 >
<script>
    (function (doc) {

        var addEvent = 'addEventListener',
                type = 'gesturestart',
                qsa = 'querySelectorAll',
                scales = [1, 1],
                meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

        function fix() {
            meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
            doc.removeEventListener(type, fix, true);
        }

        if ((meta = meta[meta.length - 1]) && addEvent in doc) {
            fix();
            scales = [.25, 1.6];
            doc[addEvent](type, fix, true);
        }

    }(document));
</script>
-->
