<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-1">

      </div><!-- col -->

      <div class="col-sm-4">
        <h5 class="text-center">Mobile Services</h5>
        <ul class="text-center list-unstyled">
          <li><a href="/services/identity-management/">Identity Management</a></li>
          <li><a href="/services/push/">Push Notifications</a></li>
          <li><a href="/services/runtime-connector/">Runtime Connector</a></li>
          <li><a href="/services/metrics/">Mobile Metrics</a></li>
         <li><a href="/services/mobile-ci-cd/">Mobile CI/CD</a></li>
         <li><a href="/services/device-security/">Device Security</a></li>
        </ul>
      </div><!-- col -->

      <div class="col-sm-2">

      </div><!-- col -->

      <div class="col-sm-4">
        <h5 class="text-center">COMMUNITY</h5>
        <ul class="text-center list-unstyled">
          <li><a target="_blank" href="https://github.com/aerogear/">GitHub - Aerogear</a></li>
          <li><a target="_blank" href="https://github.com/aerogearcatalog/">GitHub - Aerogear Catalog</a></li>
          <li><a target="_blank" href="https://issues.jboss.org/browse/AEROGEAR">Jira Repo Issues</a></li>
          <li><a  href="/community/contribution-guide/">Contribution Guide</a></li>
          <li><a target="_blank" href="https://groups.google.com/forum/#!forum/aerogear">Google Group</a></li>
          <li><a href="irc://irc.freenode.net/aerogear">IRC</a></li>
        </ul>
      </div><!-- col -->

      <div class="col-sm-1">

      </div><!-- col -->

      <div class="col-sm-12 follow">
        <h5>FOLLOW US</h5>
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.twitter.com/aerogears"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCgDcDoN2b7cEI63fgpxACBA"><i class="fa fa-youtube"></i> YouTube</a></li>
          <li><a href="/news"><i class="fa fa-rss-square"></i> Feed</a></li>
        </ul>

        <p>AeroGear project is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a></p>
      </div><!-- col -->

    </div><!-- row -->

  </div><!-- container -->

</footer><!-- footer -->

<section class="redhat">
  <div class="container">
    <p class="text-center">
      <a href="http://www.redhat.com/">
        <img src="/img/redhatlogo-wite.png" alt="redhatlogo-wite" width="130">
      </a>
    </p>
  </div><!-- container -->
</section>
