  <title>AeroGear - {{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link href="/css/styles.css" rel="stylesheet" media="screen">

  <!-- Icons -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  <!-- Favicons -->      
  <link rel="shortcut icon" href="favicon//favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon/favicon.png">
  <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-fa fa-57x57-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-fa fa-72x72-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-fa fa-114x114-precomposed.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-fa fa-144x144-precomposed.png">

  
  <!-- TODO(agalante) **See if we need any of this stuff**
  <script src="/js/libs/jquery/jquery-1.9.1.min.js"></script>
  <script src="/js/jbossorg-tabzilla.js"></script>
  <script src="/js/libs/highlight.min.js"></script>
  <script type="text/javascript">
      hljs.initHighlightingOnLoad();
  </script>

  <script src="/js/libs/modernizr-2.6.2.min.js"></script>
  -->

  <!-- google analytics -->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28733717-2']);
      _gaq.push(['_setDomainName', 'aerogear.org']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>







