  <title>AeroGear - {{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <!-- Main styles-->
  <link href="/css/styles.css" rel="stylesheet" media="screen">

  <!-- Syntax highlighting -->
  <link href="/css/syntax.css" rel="stylesheet"> 

  <!-- Icons -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/openshift-icons.css" rel="stylesheet">
  
  <!-- Favicons -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>

  <!-- TODO(agalante) **See if we need any of this stuff**
  <script src="/js/libs/jquery/jquery-1.9.1.min.js"></script>
  <script src="/js/jbossorg-tabzilla.js"></script>
  <script src="/js/libs/highlight.min.js"></script>
  <script type="text/javascript">
      hljs.initHighlightingOnLoad();
  </script>

  <script src="/js/libs/modernizr-2.6.2.min.js"></script>
  -->

  <!-- google analytics -->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28733717-2']);
      _gaq.push(['_setDomainName', 'aerogear.org']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>
  
