<div class="row">
  <div class="col-sm-12">
    <h1>Cloud Native Mobile App Development on OpenShift</h1>
  </div>  
      
  <div class="col-sm-12 banner-content">
    <div class="col-md-7 tagline">
      <h3> We make enterprise mobile development easy</h3>
      <p>AeroGear provides a suite of Mobile Services across a range of native and hybrid client SDKs that will simplify your mobile and modern application development needs, leveraging OpenShift's Container technology to provide a secure, scalable backend platform.</p>
      <div class="main-action">
        <a href="https://docs.aerogear.org/aerogear/latest/getting-started.html" class="btn btn-accent-inverse btn-lg">Get started now</a>
      </div>
    </div>
    <div class="col-md-5 video">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LEoFjrF8UZ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
    </div>
  </div>  
</div>