<div class="row">
  <div class="col-sm-12">
    <h1>Cloud Native Mobile App Development on OpenShift</h1>
  </div>  
      
  <div class="col-sm-10 col-sm-offset-1">
    <h3>We make enterprise mobile development easy</h3>
    <p>AeroGear provides a suite of Mobile Services across a range of native and hybrid client SDKs that will simplify your mobile and modern application development needs, leveraging OpenShift's Container technology to provide a secure, scalable backend platform.</p>
  </div>
  
  <div class="col-sm-12">  
    <div class="main-action">
      <a href="/getting-started/overview/" class="btn btn-accent-inverse btn-lg">Get started now</a>
    </div>
  </div>
</div>