<div class="row">

  <div class="col-sm-12">
    <h1>Bringing <strong>mobile</strong> and <strong>enterprise</strong> together.</h1>
  </div>  
  <div class="col-sm-10 col-sm-offset-1">
    <p><strong>We make cross-platform enterprise mobile development easy</strong>. Aerogear provides flexible, extensible libraries and server side components that will simplify your mobile development and infrastructure setup across platforms.</p>
  </div>
  
  <div class="col-sm-12">  
    <div class="main-action">
      <a href="{{ site.baseurl }}/getstarted/downloads/" class="btn btn-accent-inverse btn-lg">Get started now</a>
    </div><!-- main action -->
    <h6>or start by selecting your platform:</h6>
    <ul class="list-inline crossplatform">
      <li><a href="{{ site.baseurl }}/android"><i class="fa fa-android"></i></a></li>  
      <li><a href="{{ site.baseurl }}/ios"><i class="fa fa-apple"></i></a></li>  
      <li><a href="{{ site.baseurl }}/windows"><i class="fa fa-windows"></i></a></li>  
      <li><a href="{{ site.baseurl }}/cordova"><i class="fa fa-simplybuilt"></i></a></li>  
      <li><a href="{{ site.baseurl }}/javascript"><i class="fa fa-html5"></i></a></li>  
    </ul>
    
  </div>
  
      <!--
      <div class="col-sm-5 fade-in one" id="illus-container">  
        <img src="/img/img_header.png" alt="Aerogear, crossplatform web deveoplemnt">
      </div> col -->

    </div><!-- row -->