{% if page.section == 'guides' %}
  <h2>Aerogear Guides <small>Tutorials to help get you off and running.</small></h2>
{% elsif page.section == 'demos' %}
  <h2>AeroGear Examples <small>Working examples using the AeroGear libraries.</small></h2>
{% elsif page.section == 'getstarted' %}
  <h2>Start here <small>How to get Aerogear up and running.</small></h2>
{% elsif page.section == 'community' %}
  <h2>AeroGear Community <small>Get involved, be part of the Aerogear community.</small></h2>
{% elsif page.section == 'docs' %}
  <h2>Documentation <small>Aerogear API documentation & specifications.</small></h2>
{% elsif page.section == 'news' %}
  <h2>AeroGear News <small>Artciles, posts, events, videos and updates.</small></h2>
{% elsif page.section == 'roadmap' %}
  <h2>Road Map <small>List of the planed feature for the AeroGear project.</small></h2>
{% elsif page.section == 'modules' %}
  <h2>Aerogear Modules <small>What can Aerogear do for you.</small></h2>
{% elsif page.section == 'platforms' %}
  <h2>Aerogear Platforms <small>Cross-platform development made easy.</small></h2>
{% endif %}