{% assign service = site.data.services[include.service] %}

<div class="row">
    <h2 class="section-header">
        <i class="material-icons" aria-hidden="true">{{ service['icon'] }}</i> {{ service['name'] }}
    </h2>
</div>
<div class="row">
    <h3>Overview</h3>
    <p>{{ service['description'] }}</p>
    {% if service["features"] %}
    <ul>
        {% for feature in service['features'] %}
        <li>{{ feature }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% if service["documentation"] %}
<div class="row">
    <h3>Getting Started</h3>
    <p>This guide will show you how to set up the {{ service['name'] }} Service and consume in your mobile application.
        <a target="_blank" href="{{ service['documentation'] }}">Getting started with the AeroGear {{ service['name'] }} Service</a>
    </p>
</div>
<div class="row">
    <h3>Documentation</h3>
    <a target="_blank" href="{{ service['documentation'] }}" class="btn btn-primary">
        <i class="fa fa-book"></i> Guides & Docs - Learn More</a>
</div>
{% endif %}
{% if service['github'] %}
<div class="row">
    <h3>GitHub</h3>
    <a target="_blank" href="{{ service['github'] }}" class="btn btn-primary">
        <i class="fa fa-github-alt"></i> View the Source</a>
</div>
{% endif %}