<ul class="nav">
  <li class="active">
    <a href="#overview">Overview</a>
  </li>
  <li>
    <a href="#android">Android</a>
    <ul>
      <li><a href="#androidCookbook">Cookbook</a></li>
      <li><a href="#androidAeroDoc">AeroDoc</a></li>
      <li><a href="#androidCryptoDemo">Crypto Demo</a></li>
      <li><a href="#androidOTPDemo">OTP Demo</a></li>
    </ul>                
  </li>
  <li>
    <a href="#ios">iOS</a>
    <ul>
      <li><a href="#iosCookbook">Cookbook</a></li>
      <li><a href="#iosAeroDoc">AeroDoc</a></li>
      <li><a href="#iosCryptoDemo">Crypto Demo</a></li>
      <li><a href="#iosOTPDemo">OTP Demo</a></li>
    </ul>                
  </li>
  <li>
    <a href="#js">JavaScript</a>
    <ul>
      <li><a href="#jsASQuickStart">AS QuickStart</a>
      <li><a href="#jsRunningDemo">Running Demo</a>
    </ul>                
  </li>
</ul>