<ul class="nav">
    <li>
        <a href="/services/mobile-ci-cd/"><i class="fa fa-cogs" aria-hidden="true"></i><strong> CI/CD</strong></a>
    </li>
    <li>
      <a href="/services/runtime-connector/"><strong><i class="fa fa-plug" aria-hidden="true"></i> Runtime Connector</strong></a>
    </li>
    <li>
      <a href="/services/keycloak/"><i class="fa fa-lock" aria-hidden="true"></i><strong> Identity Management</strong></a>
    </li>
    <li>
      <a href="/services/metrics/"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong> Metrics</strong></a>
    </li>
    <li>
      <a href="/services/push/"><i class="fa fa-external-link" aria-hidden="true"></i><strong> Push</strong></a>
    </li>
    <li>
      <a href="/services/security/"><i class="fa fa-shield" aria-hidden="true"></i><strong> Security</strong></a>
    </li>
  </ul>