<ul>
  <li class="active">
    <a href="#">Supported Platforms</a>
    <ul>
      <li class="active"><a href="/getstarted/guides/AeroGearBrowserTargets/">Browser Support Targets</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Getting Started</a>
    <ul>
      <li><a href="/getstarted/guides/FAQ/">FAQ</a></li>
      <li><a href="/getstarted/guides/GetStartedAeroGearJS/">AeroGear.js</a></li>
      <li><a href="/getstarted/guides/GetStartedHTML5MobileWeb/">HTML5 Mobile Web Development</a></li>
      <li><a href="/getstarted/guides/aerogear-cordova/HybridApplicationFrameworks/">Hybrid Application Frameworks</a></li>
      <li><a href="/getstarted/guides/GetStartedwithAeroGearandXcode/">iOS and Xcode</a></li>
      <li><a href="/getstarted/guides/GetStartedwithAeroGearandXcodeTemplate/">iOS and AeroGear Xcode Template</a></li>
      <li><a href="/getstarted/guides/HTML5AppsToOpenshift/">Deploying HTML5 to Openshift</a></li>
      <li><a href="/getstarted/guides/HTML5MobileQuickstartAndDeepDive/">HTML5 Mobile Quickstart & Archetype Deep Dive</a></li>
      <li><a href="/getstarted/guides/HTML5RESTApps/">HTML5 + REST Applications</a></li>
      <li><a href="/getstarted/guides/aerogear-cordova/CordovaSetup/">Cordova Setup</a></li>
      <li><a href="/getstarted/guides/aerogear-cordova/HTML5ToHybridWithCordova/">Converting an AeroGear HTML5 + REST Web App to a Hybrid App with Apache Cordova</a></li>
      <li><a href="/getstarted/guides/aerogear-cordova/CordovaAndroidDevJBDS/">Tutorial: Android Development w/ PhoneGap/Apache Cordova in JBoss Developer Studio 5</a></li>
    </ul>

  </li>

  <li>
    <a href="#">User Guides</a>
      <li><a href="/getstarted/guides/aerogear-android/">AeroGear Android User Guide</a></li>
      <li><a href="/getstarted/guides/aerogear-ios/">AeroGear iOS 1.X User Guide</a></li>
      <li><a href="/getstarted/guides/FAQ/">FAQ</a></li>
      <li><a href="/getstarted/guides/FAQ/">FAQ</a></li>
      <li><a href="/getstarted/guides/FAQ/">FAQ</a></li>
    </ul>

  </li>


  
</ul>
* []()

#### 

* []()
* []()
* [AeroGear iOS 2.X User Guide](aerogear-ios-2.X)
* [AeroGear Two-Factor Authentication with OTP](AeroGear-OTP)
* [AeroGear Two-Factor Authentication with OTP as Cordova Plugin](aerogear-cordova/AerogearCordovaOTP)

#### UnifiedPush Server

* [AeroGear UnifiedPush Server resources](../unifiedpush)


#### Contributing to AeroGear

* [Contributing to AeroGear](Contributing)
* [AeroGear GitHub Workflow](GitHubWorkflow)
* [How to Handle AeroGear Pull Requests](AeroGearPullRequests)
* [AeroGear JIRA Usage and Guidelines](JIRAUsage)
* [AeroGear Licensing and Copyright](license)
* [AeroGear Developer Tools Guide](AeroGearDeveloperSetup)
* [AeroGear Versioning Policy](/docs/reference/AeroGearVersioningPolicy)
