<!-- TODO(agalante) this should filter the news by types  -->

<div class="checkbox">
  <label>
    <input type="checkbox" value="" checked="checked">
    All Posts
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Articles
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Events
  </label>
</div>


<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Videos
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Twitter
  </label>
</div>


<h5>Modules:</h5>
            
<div class="checkbox">
  <label>
    <input type="checkbox" value="" checked="checked">
    All Modules
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
      <i class="fa fa-paper-plane"></i> AeroGear<strong>Push</strong>
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
      <i class="fa fa-rocket"></i> AeroGear<strong>Core</strong>
  </label>
</div>


<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
      <i class="fa fa-shield"></i> AeroGear<strong>Security</strong>
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
      <i class="fa fa-refresh"></i> AeroGear<strong>Sync</strong>
  </label>
</div>



<h5>Platforms:</h5>

<div class="checkbox">
  <label>
    <input type="checkbox" value="" checked="checked">
    All platforms
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Android
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    iOS
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Cordova
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    JavaScript
  </label>
</div>

<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" checked="checked" disabled>
    Windows
  </label>
</div>

<h5>Popular tags:</h5>
<div class="tag-cloud">
  <a href="#"><i class="fa fa-tag"></i> ups</a>
  <a href="#"><i class="fa fa-tag"></i> jboss</a>
  <a href="#"><i class="fa fa-tag"></i> javascript</a>
  <a href="#"><i class="fa fa-tag"></i> ups</a>
  <a href="#"><i class="fa fa-tag"></i> jboss</a>
  <a href="#"><i class="fa fa-tag"></i> javascript</a>
  <a href="#"><i class="fa fa-tag"></i> consoleUI</a>
  <a href="#"><i class="fa fa-tag"></i> tagname</a>
  <a href="#"><i class="fa fa-tag"></i> java</a>
</div>