<ul class="nav services-sidebar">
  <li>
    <a href="/services/identity-management/">
      <i class="material-icons" aria-hidden="true">account_circle</i> Identity Management
    </a>
  </li>
  <li>
    <a href="/services/push/">
      <i class="material-icons" aria-hidden="true">notifications_active</i> Push Notifications
    </a>
  </li>
  <li>
    <a href="/services/runtime-connector/">
      <i class="material-icons" aria-hidden="true">cloud</i> Runtime Connector
    </a>
  </li>
  <li>
    <a href="/services/metrics/">
      <i class="material-icons" aria-hidden="true">insert_chart</i> Mobile Metrics
    </a>
  </li>
  <li>
    <a href="/services/mobile-ci-cd/">
      <i class="material-icons" aria-hidden="true">build</i> Mobile CI/CD
    </a>
  </li>
  <li>
    <a href="/services/device-security/">
      <i class="material-icons" aria-hidden="true">security</i> Device Security
    </a>
  </li>
</ul>
