<ul class="nav">

  <li>
    <a href="#first-steps">First Steps</a>
  </li>

  <li>
    <a href="#core">AeroGear<strong>SDK</strong> Guides</a>
  </li>

  <li>
    <a href="#security">AeroGear<strong>Security</strong> Guides</a>
    <ul>
      <li><a href="#securityAndroid">Android</a></li>
      <li><a href="#securityIOS1">iOS 1.X</a></li>
      <li><a href="#securityIOS2">iOS 2.X</a></li>
      <li><a href="#securityCordova">Cordova</a></li>
    </ul>
  </li>

  <li>
    <a href="#push">AeroGear<strong>Push</strong> Guides</a>
    <ul>
      <li><a href="#unifiedPush">UnifiedPush Server guides</a></li>
      <li><a href="#pushClientGuides">Client guides</a></li>
      <li><a href="#pushTutorials">Tutorials</a></li>
      <li><a href="#pushTroubleshooting">Troubleshooting</a></li>
    </ul>
  </li>
</ul>