<!-- TODO(agalante) this should filter the news by types  -->

<div class="submenu">

<h5>Modules:</h5>
            
<div class="checkbox module all">
  <span class="label label-primary">
    <a href="#module">
      All modules
    </a>
  </span>
</div>

<div class="checkbox module">
  <span class="label label-primary">
    <a href="#module-push">
      <i class="fa fa-paper-plane"></i> Push
    </a>
  </span>
</div>


<div class="checkbox module">
  <span class="label label-primary">
    <a href="#module-security">
      <i class="fa fa-shield"></i> Security
    </a>
  </span>
</div>

<div class="checkbox module">
  <span class="label label-primary">
    <a href="#module-sync">
      <i class="fa fa-refresh"></i> Sync
    </a>
  </span>
</div>



<h5>Platforms:</h5>

<div class="checkbox platform all">
  <span class="label label-primary">
    <a href="#platform">
      All platforms
    </a>
  </span>
</div>

<div class="checkbox platform">
  <span class="label label-primary">
    <a href="#platform-android">
      <i class="fa fa-android"></i> Android
    </a>
  </span>
</div>

<div class="checkbox platform">
  <span class="label label-primary">
    <a href="#platform-ios">
      <i class="fa fa-apple"></i> iOS
    </a>
  </span>
</div>

<div class="checkbox platform">
  <span class="label label-primary">
    <a href="#platform-cordova">
      <i class="fa fa-simplybuilt"></i> Cordova
    </a>
  </span>
</div>

<div class="checkbox platform">
  <span class="label label-primary">
    <a href="#platform-javascript">
      <i class="fa fa-html5"></i> JavaScript
    </a>
  </span>
</div>

<div class="checkbox platform">
  <span class="label label-primary">
    <a href="#platform-windows">
      <i class="fa fa-windows"></i> Windows
    </a>
  </span>
</div>

<h5>Popular tags:</h5>
<div class="tag-cloud">
  {% for tag in site.data['all_post_tags'] %}
    <a href="#tag-{{ tag }}" class="active"><i class="fa fa-tag"></i> {{ tag }}</a>
  {% endfor %}
</div>

</div><!-- /submenu -->

<!--<script src="//rawgit.com/makesites/jquery-hurl/master/lib/jquery.hurl.js"></script>-->

<script src="https://rawgit.com/avakarev/jquery-hashman/master/jquery.hashman.js"></script>

<script>
  (function ( $ ) {

    $.fn.newsSwitchSingle = function() {
      $(this).each(function() {
        var div = $(this);
        div.click(function() {
          $.allTags().tagSwitchActive( true );
          if ( div.correspondingAllSwitch().isActive() ) {
            div.correspondingAllSwitch().switchActive( false );
            div.correspondingSingleSwitches().switchActive( false );
            div.switchActive( true );
          } else {
            div.switchActive( !div.isActive() );
            if (!div.correspondingSingleSwitches().isInactive()) {
              div.correspondingAllSwitch().switchActive( true );
            }
          }
          return false;
        });
      });
    };

    $.fn.newsSwitchAll = function() {
      $(this).each(function() {
        var div = $(this);
        div.click(function() {
          $.allTags().tagSwitchActive( true );
          div.switchActive( !div.isActive() );
          div.correspondingSingleSwitches().switchActive( div.isActive() );
          return false;
        });
      });
    };

    $.fn.isActive = function() {
      return $(this).is(':has( span.label-primary )');
    };

    $.fn.isInactive = function() {
      return $(this).is(':has( span.label-default )');
    };

    $.fn.switchActive = function( active ) {
      var label = $( 'span.label', this );
      label.removeClass( active ? 'label-default' : 'label-primary' );
      label.addClass( active ? 'label-primary' : 'label-default' );
    };

    $.fn.correspondingAllSwitch = function() {
      var value = $('a', this).attr('href').replace('#', '');
      var match = value.match('^([^-]+)-');
      var prefix = match ? match[1] : value;
      return $(".checkbox." + prefix + ".all");
    };

    $.fn.correspondingSingleSwitches = function() {
      var value = $(this).find('a').attr('href').replace('#', '');
      var match = value.match('^([^-]+)-');
      var prefix = match ? match[1] : value;
      return $(".checkbox." + prefix + ":not(.all)");
    };

    $.fn.tagSwitch = function() {
      $(this).click(function() {
        if (!$.allTags().is(':not(.active)')) { // all tags are active
          $(this).tagSwitchActive( true );
        } else { // at least one tag is inactive
          if ($(this).is('.active')) {
            $(this).tagSwitchActive( false );
          } else {
            $(this).tagSwitchActive( true );
          }
        }
        // switch modules / platforms switches to all checked
        $(".checkbox.all").each(function() {
          $(this).switchActive( true );
          $(this).correspondingSingleSwitches().switchActive( true );
        });

        return false;
      });
    };

    $.fn.tagSwitchActive = function( active ) {
      if (active) {
        $.allTags().removeClass('active');
        $(this).addClass('active');
      } else {
        $.allTags().addClass('active');
      }
    };

    $.allTags = function() {
      return $(".tag-cloud a");
    };

  }( jQuery ));

  $(".checkbox:has(span.label a).all").newsSwitchAll();
  $(".checkbox:has(span.label a):not(.all)").newsSwitchSingle();

  $(".tag-cloud a").tagSwitch();
</script>