<ul class="nav">
  <li class="active">
    <a href="#core">AeroGear<strong>SDK</strong> Docs</a>
    <ul>
      <li><a href="#coreAndroid">Android</a></li>
      <li><a href="#coreIOS">iOS</a></li>
      <li><a href="#coreCordova">Cordova</a></li>
      <li><a href="#coreJs">JavaScript</a></li>
    </ul>
  </li>
  <li>
    <a href="#push">AeroGear<strong>Push</strong> Docs</a>
  </li>
  <li>
    <a href="#security">AeroGear<strong>Security</strong> Specs</a>
    <ul>
      <li><a href="#securityOTP">Authentication</a></li>
      <li><a href="#securityAuthentication">One-Time Password</a></li>
      <li><a href="#securityCryptography">Cryptography</a></li>
    </ul>
  </li>
  <li>
    <a href="#sync">AeroGear<strong>Sync</strong> Specs</a>
  </li>
</ul>