  <ul class="nav">
    <li class="active">
      <a href="#overview">Getting started</a>                  
    </li>
    <li>
      <a href="#android">Android</a>
    </li>

    <li>
      <a href="#ios">iOS</a>
    </li>

    <li>
      <a href="#cordova">Cordova</a>
    </li>

    <li>
      <a href="#js">JavaScript</a>
    </li>

    <li>
      <a href="#push">Push</a>
    </li>

    <li>
      <a href="#security">Security</a>
    </li>

      <li>
          <a href="#digger">Digger</a>
      </li>
  </ul>