<ul class="nav">
  <li class="active">
    <a href="#core">AeroGear<strong>Core</strong> Specs</a>
    <ul>
      <li><a href="#coreAndroid">Android</a></li>
      <li><a href="#coreIOS">iOS</a></li>
      <li><a href="#coreJs">Js</a></li>
      <li><a href="#coreCordova">Cordova</a></li>
    </ul>
  </li>
  <li>
    <a href="#push">AeroGear<strong>Push</strong> Specs</a>
  </li>
  <li>
    <a href="#security">AeroGear<strong>Security</strong> Specs</a>
    <ul>
      <li><a href="#securityAuthentication">Authentication</a></li>
      <li><a href="#securityCryptography">Cryptography</a></li>
    </ul>
  </li>
  <li>
    <a href="#sync">AeroGear<strong>Sync</strong> Specs</a>
  </li>
</ul>