{% assign aerogearjsVersion = site.data.sdk['aerogearjs']['version'] %}
<p>
  <a href="https://github.com/aerogear/aerogear-js-dist/archive/{{ aerogearjsVersion }}.zip" class="btn btn-primary-inverse btn-lg"><i class="fa fa-cloud-download"></i> Download AeroGear.js v{{ aerogearjsVersion }}</a>
  <a href="#" class="btn btn-primary" onclick="$('#javascript-bower').toggle(); return false;"><i class="fa fa-puzzle-piece"></i> Bower</a>
  <a href="https://aerogear.org/download/custom/" class="btn btn-primary"><i class="fa fa-gears"></i> Customized Build</a>
  {% if include.excludeSource %}
  {% else %}
  <a href="https://github.com/aerogear/aerogear-js/" class="btn btn-primary"><i class="fa fa-github-alt"></i> View the Source</a>
  {% endif %}
</p>
<div id="javascript-bower" style="display: none">
  <p><span class="label label-default">bower.json</span></p>
  <pre>{% include downloads/snippets/javascript-bower version=aerogearjsVersion %}</pre>
</div>