{% assign module = include.module %}
{% assign version = site.data.sdk['android']['version'] %}
<p>
  <a href="https://github.com/aerogear/aerogear-android-{{ module }}/archive/{{ version }}.zip" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> Download Android {{ module | capitalize }} v{{ version }}</a>
  <a href="#" class="btn btn-primary btn-sm" onclick="$('#android-{{ module }}-maven').toggle(); return false;"><i class="fa fa-cube"></i> Maven</a>
  <a href="#" class="btn btn-primary btn-sm" onclick="$('#android-{{ module }}-gradle').toggle(); return false;"><i class="fa fa-puzzle-piece"></i> Gradle</a>
  <a href="https://github.com/aerogear/aerogear-android-{{ module }}/" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
</p>
<div id="android-{{ module }}-maven" style="display: none">
  <pre>{% capture mavenSnippet %}{% include downloads/snippets/android-maven module=module version=version %}{% endcapture %}{{ mavenSnippet | xml_escape }}</pre>
</div>
<div id="android-{{ module }}-gradle" style="display: none">
  <pre>{% include downloads/snippets/android-gradle module=module version=version %}</pre>
</div>