---
layout: index
title: Downloads and snippets
section: getstarted
---
        
        <article id="overview">

          <h2 class="section-header">Get the Gear to Go Mobile!</h2>
          <p>Below you will find links to all of the libraries and other resources created by the AeroGear team. You can also view the source and contribute to any of these items by checking out our <a href="http://github.com/aerogear" target="_blank">repos on GitHub</a>.</p>

        </article><!-- article -->

<!-- ==================================================================================================== -->
        <article id="android">
          <h2 class="section-header"><i class="fa fa-android"></i> AeroGear Android</h2>
          <p>AeroGear on Android simplifies developing mobile applications which connect to remote services. We support all versions of Android above 2.3.3 (and 2.3.3 if you include the support-library). Aerogear Android is published in Maven Central and available as library project on GitHub.</p>
          <p>All of the features of AeroGear are supported including DataStores, Pipes, Authentication, Authorization, and Pagination. We also supply APIs for offloading the work done by Pipes to the Loader API; your Activities will crash less and use less bandwidth.</p>
          <p>If you have any questions, feel free to hit us up on the <a href="http://aerogear-users.1116366.n5.nabble.com/">user mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>
             
<hr> <!-- ====================================================== -->
          
          <h4 id="downloadsAndroid">Downloads and Snippets</h4>
{% for item in site.data.sdk['android']['modules'] %}
{% assign module = item[1] %}
{% include downloads/android-module.html module=module %}
{% endfor %}

          <h5>and if you want more:</h5>
          <p>
            <a href="/getstarted/guides" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
            <a href="/getstarted/demos" class="btn btn-primary"><i class="fa fa-cogs"></i> Demo Applications</a>
            <a href="/docs/specs" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
          </p>


        </article><!-- android -->

<!-- ==================================================================================================== -->
        <article id="ios"><img src="/img/swift-logo.png" align="right">

          <h2 class="section-header"><i class="fa fa-apple"></i> AeroGear iOS</h2>
          <p>The aim of the project is to provide a set of convenient and modular Swift based iOS libraries, ranging from networking, authorization (and in particular OAuth2) , Storage and Crypto. We believe the iOS platform offers a solid and extremely powerful foundation, but there are cases in which developer productivity can be improved by offering a much easier access to that foundation. Please use the corresponding links below for more information of the features provided by each respective library.</p>

          <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>

          <div class="alert alert-info" role="alert">If you are looking for AeroGear iOS 1.x series, please visit <a href="/ios/index-ios-1.X.html">this page</a> for more information.</div>


<hr> <!-- ====================================================== -->

          <h4 id="downloadsIOS">Downloads and Snippets</h4>
          {% for item in site.data.sdk['ios']['modules'] %}
          {% assign moduleName = item[0] %}
          {% assign module = item[1] %}
          {% include downloads/ios-module.html moduleName=moduleName module=module %}
          {% endfor %}

          <h5>and if you want more:</h5>
          <p>
            <a href="/getstarted/guides" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
            <a href="/getstarted/demos" class="btn btn-primary"><i class="fa fa-cogs"></i> Demo Applications</a>
            <a href="/docs/specs" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
          </p>

        </article><!-- ios -->

   <!-- ==================================================================================================== -->
        <article id="cordova">
          <h2 class="section-header"><i class="fa fa-simplybuilt"></i> AeroGear Cordova</h2>
          <p>Using the same AeroGear.js library we use for mobile web apps, we can move our app to the device and gain access to native APIs thanks to Apache Cordova. We also have some plugins that take advantage of native hardware for speed, security and push notifications.</p>
          <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>

<hr> <!-- ====================================================== -->

          <h4 id="downloadsCordova">Downloads and Snippets</h4>
          {% for item in site.data.sdk['cordova']['modules'] %}
          {% assign moduleName = item[0] %}
          {% assign module = item[1] %}
          {% include downloads/cordova-plugin.html moduleName=moduleName module=module %}
          {% endfor %}

          {% include downloads/cordova-plugin-script.html %}

          <h5>and if you want more:</h5>
          <p>
            <a href="/getstarted/guides" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
            <a href="/getstarted/demos" class="btn btn-primary"><i class="fa fa-cogs"></i> Demo Applications</a>
            <a href="/docs/specs" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
          </p>

        </article><!-- cordova -->



   <!-- ==================================================================================================== -->

        <article id="js">
          <h2 class="section-header"><i class="fa fa-html5"></i> AeroGear.js</h2>
          <p>When building mobile web apps, it is important to have lightweight, performant code that gives a great experience to your users no matter what device they might be using. That is where AeroGear.js comes in. This library provides everything from a simple persistence layer to a security API and everything in between.</p>
          <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>


 <hr> <!-- ====================================================== -->

{% include downloads/aerogear-js.html %}

          <h5>and if you want more:</h5>
          <p>
            <a href="/getstarted/guides" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
            <a href="/getstarted/demos" class="btn btn-primary"><i class="fa fa-cogs"></i> Demo Applications</a>
            <a href="/docs/specs" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
          </p>

        </article><!-- js -->


<!-- ==================================================================================================== -->

<article id="push">
  <h2 class="section-header"><i class="fa fa-paper-plane"></i> AeroGear Push</h2>
  <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>


  <hr> <!-- ====================================================== -->

  <h3 id="unifiedpush"><i class="fa fa-send-o"></i> UnifiedPush Server</h3>

  <p>
    <a href="https://openshift.redhat.com/app/console/application_type/quickstart!31"><img src="http://launch-shifter.rhcloud.com/launch/light/LAUNCH ON.svg" /></a>
    <a href="https://registry.hub.docker.com/u/aerogear/unifiedpush-wildfly/" class="btn btn-primary btn-lg"><i class="fa fa-cloud"></i> Run as Docker container</a>
  </p>

  <p>
    <a href="https://github.com/aerogear/aerogear-unifiedpush-server/releases/latest" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> Download UnifiedPush Server 1.1.0.Final</a>
    <a href="https://github.com/aerogear/aerogear-unifiedpush-server" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
    <span class="label label-success">Stable</span>
  </p>
  <p>
    <a href="https://github.com/aerogear/aerogear-unifiedpush-server/releases/tag/1.0.3" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> Download UnifiedPush Server 1.0.3</a>
    <a href="https://github.com/aerogear/aerogear-unifiedpush-server/tree/1.0.3" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
    <span class="label label-warning">Deprecated</span>
  </p>

  <h5>and if you want more:</h5>
  <p>
    <a href="/getstarted/guides#push" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
    <a href="/docs/specs#push" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
    <a href="/getstarted/demos" class="btn btn-primary"><i class="fa fa-cogs"></i> Demo Applications</a>
  </p>

  <hr> <!-- ====================================================== -->

  <h4><i class="fa fa-code"></i> UnifiedPush Java Client</h4>
  <p>Add Maven dependency to <span class="label label-default">pom.xml</span>:</p>
  <pre>{% capture unifiedPushJavaClient %}{% include_relative snippets/push-unifiedpush-maven %}{% endcapture %}{{ unifiedPushJavaClient | xml_escape }}</pre>

  <h5>and if you want more:</h5>
  <p>
    <a href="/docs/specs/aerogear-unifiedpush-java-client/" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
  </p>


  <hr> <!-- ====================================================== -->

  <h4><i class="fa fa-code"></i> UnifiedPush Node.js Client</h4>
  <p>Add the Node package from command-line:</p>
  <pre>$ npm install unifiedpush-node-sender</pre>

  <h5>and if you want more:</h5>
  <p>
    <a href="/docs/specs/aerogear-unifiedpush-nodejs-client/" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
  </p>

  <hr> <!-- ====================================================== -->

  <h3 id="simplepush"><i class="fa fa-cogs"></i> SimplePush Server</h3>
  <p>
    <a href="https://github.com/aerogear/aerogear-simplepush-server/zipball/0.12.1" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> Download SimplePush Server 0.12.1</a>
    <a href="https://github.com/aerogear/aerogear-simplepush-server" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
  </p>

  <hr> <!-- ====================================================== -->

  <h4><i class="fa fa-code"></i> SimplePush Java Client</h4>
  <p>Add Maven dependency to <span class="label label-default">pom.xml</span>:</p>
  <pre>{% capture simplepushJavaClient %}{% include_relative snippets/push-simplepush-maven %}{% endcapture %}{{ simplepushJavaClient | xml_escape }}</pre>

  <h5>and if you want more:</h5>
  <p>
    <a href="/docs/specs/aerogear-simplepush-java-client/" class="btn btn-primary"><i class="fa fa-file-text-o"></i> API Documentation</a>
  </p>

  <hr> <!-- ====================================================== -->

  <h3 id="webpush"><i class="fa fa-cogs"></i> WebPush Server and Console</h3>
  <p>
    <a href="https://github.com/aerogear/aerogear-webpush-server/releases/tag/1.0.0-alpha.1" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> Download WebPush Server and Console (1.0.0-alpha.1)</a>
    <a href="https://github.com/aerogear/aerogear-webpush-server" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
  </p>

  <h5>and if you want more:</h5>
  <p>
    <a href="/news/2015/03/05/aerogear-webpush-alpha1/index.html" class="btn btn-primary"><i class="fa fa-book"></i>Description of our WebPush effort</a>
  </p>


</article><!-- security -->



<!-- ==================================================================================================== -->

        <article id="security">
          <h2 class="section-header"><i class="fa fa-shield"></i> AeroGear Security</h2>
          <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>


 <hr> <!-- ====================================================== -->

          <h4>JAVA-OTP</h4>
          <pre>{% capture securityJavaOtp %}{% include_relative snippets/security-java-otp %}{% endcapture %}{{ securityJavaOtp | xml_escape }}</pre>

 <hr> <!-- ====================================================== -->

          <h4>JAVA-CRYPTO</h4>
          <pre>{% capture securityJavaCrypto %}{% include_relative snippets/security-java-crypto %}{% endcapture %}{{ securityJavaCrypto | xml_escape }}</pre>


        </article><!-- security -->

<!-- ==================================================================================================== -->

<article id="digger">
    <h2 class="section-header"><i><img src="/img/aerogeardigger_icon_32px_cropped.png"></i> AeroGear Digger</h2>
    <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>


    <hr> <!-- ====================================================== -->

    <h4>AeroGear Digger</h4>
    <p>
        <a href="https://github.com/aerogear/digger-installer" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> AeroGear Digger Installer</a>
        <a href="https://github.com/aerogear/digger-jenkins" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
    </p>
    
    <h5>and if you want more:</h5>
    <p>
        <a href="/getstarted/guides#digger" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
    </p>

    <hr> <!-- ====================================================== -->

    <h4><i class="fa fa-code"></i> AeroGear Digger Java Client</h4>
    <p>Add Maven dependency to <span class="label label-default">pom.xml</span>:</p>
    <pre>{% capture diggerJavaClientMavenDef %}{% include_relative snippets/security-java-crypto %}{% endcapture %}{{ diggerJavaClientMavenDef | xml_escape }}</pre>
    <p>
        <a href="https://github.com/aerogear/digger-java" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
    </p>

    <hr> <!-- ====================================================== -->

    <h4><i class="fa fa-code"></i> AeroGear Digger Node Client</h4>
    <p>
        <a href="https://www.npmjs.com/package/digkins" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> NPM Package</a>
        <a href="https://github.com/aerogear/digkins-node" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
    </p>


</article><!-- digger -->
