---
layout: basic
title: AeroGear iOS 1.6.x

iosModules:
  ios:
    name:
    version: 1.6.1
    cocoapod: AeroGear
    zip: https://github.com/aerogear/aerogear-ios/zipball/1.6.1
  ios-otp:
    name: OTP
    version: 1.0.1
    cocoapod: AeroGear-OTP
    zip: https://github.com/aerogear/aerogear-otp-ios/zipball/1.0.1
  ios-crypto:
    name: Crypto
    version: 0.2.3
    cocoapod: AeroGear-Crypto
    zip: https://github.com/aerogear/aerogear-crypto-ios/zipball/0.2.3
  ios-push:
    name: Push
    version: 1.0.0
    cocoapod: AeroGear-Push
    zip: https://github.com/aerogear/aerogear-ios-push/zipball/1.0.0
  ios-xcode-template:
    name: Xcode Template
    version: 1.6.1
    zip: https://github.com/aerogear/aerogear-ios-xcode-template/zipball/1.6.1
---

 <article id="ios">

          <h2 class="section-header"><i class="fa fa-apple"></i> AeroGear iOS 1.6.x</h2>
          <p>If your application uses standard RESTful practices to communicate with a remote backend, requires authentication (including two-factor authentication support with OTP), user enrollment and ways to store and filter objects or APNs for push notifications, then we encourage you to give the library a spin. More exciting new features are currently in progress such as offline, data sync, crypto and much much more. Stay tuned!</p>

          <p>If you have any questions, feel free to hit us up on the <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev">mailing list</a> or on <a href="irc://irc.freenode.net/aerogear">irc</a>.</p>

          <h4 id="downloadsIOS">Downloads and Snippets</h4>
          {% for item in page.iosModules %}
          {% assign moduleName = item[0] %}
          {% assign module = item[1] %}
          <p>
            <a href="{{ module.zip }}" class="btn btn-primary-inverse"><i class="fa fa-cloud-download"></i> Download iOS {{ module.name }} v{{ module.version }}</a>
            {% if module.cocoapod %}
            <a href="http://cocoapods.org/?q={{ module.cocoapod }}" class="btn btn-primary btn-sm"><i class="fa fa-cubes"></i> CocoaPods</a>
            {% endif %}

            <a href="https://github.com/aerogear/aerogear-{{ moduleName }}/" class="btn btn-primary btn-sm"><i class="fa fa-github-alt"></i> View the Source</a>
          </p>
          {% endfor %}

          <h5>and if you want more:</h5>
          <p>
            <a href="/docs/guides/aerogear-ios" class="btn btn-primary"><i class="fa fa-book"></i> Guides! Learn more</a>
            <a href="https://github.com/aerogear/aerogear-ios-cookbook/tree/1.6.x" class="btn btn-primary"><i class="fa fa-cogs"></i> Demo Applications</a>
          </p>

</article><!-- ios -->