<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% for nav_item in site.navigation %}
                        <li class="{% is_active_navigation_item nav_item.url %}">
                          <a href="{{ nav_item.url }}">{{ nav_item.desc }}</a>
                        </li>
                        {% endfor %}
                        <li class="dropdown" id="social-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#social-menu">Follow Us <b class="caret"></b></a>
                            <ul class="dropdown-menu social-menu">
                                <li><a class="twitter-image" href="http://twitter.com/aerogears" target="_blank"><img src="/img/twitter.png"/></a></li>
                                <li><a class="gplus-image" href="https://plus.google.com/106588661437153585722/posts" target="_blank"><img src="/img/gplus.png"/></a></li>
                                <li><a class="fb-image" href="#"><img src="/img/facebook.png"/></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        {{ content }}
        <footer>
            <div class="row">
                <div class="span3">
                    <h3><a href="http://twitter.com/AeroGears" target="_blank">@AeroGears</a></h3>
                    <div id="aerogear-twitter">Loading tweets...</div>
                </div>
                <div class="span3">
                    <h3>Find Your Way</h3>
                    <p><a href="/docs">Documentation</a></p>
                    <p><a href="/docs/guides">Guides</a></p>
                    <p><a href="#">Demos</a></p>
                </div>
                <div class="span3">
                    <h3>Lend a Hand</h3>
                    <p><a href="http://github.com/aerogear" target="_blank">Contribute</a></p>
                    <p><a href="issues.jboss.org/browse/AEROGEAR" target="_blank">Report Issues</a></p>
                    <p><a href="http://www.redhat.com/mailman/listinfo/aerogear-dev" target="_blank">Join the Mailing List</a></p>
                    <p><a href="irc://irc.freenode.net/aerogear" target="_blank">Chat with the Team</a></p>
                </div>
                <div class="span3">
                    <img src="/img/aerogear_logo_200px.png" class="footer-logo"/>
                    <div>&copy; Copyright 2012 Red Hat, Inc.</div>
                    <div>Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License, v2.0</a>.</div>
                    <img src="/img/jboss.png" class="footer-jboss"/>
                    <div>AeroGear is a JBoss Community project and development is sponsored by Red Hat, Inc.</div>
                    <span class="attribution">HTML5 Logo and Icons by <a href="http://www.w3.org/" target="_blank"><abbr title="World Wide Web Consortium">W3C</abbr></a></span>
                </div>
            </div>
        </footer>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write( '<script src="/js/libs/jquery-1.7.2.min.js"><\/script>' )</script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/libs/repo-modified.min.js"></script>
    <script src="/js/libs/ba-linkify.min.js"></script>
    <script src="/js/libs/jquery.twitter.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
