---
layout: core
---

<style>
  .content-column {
    display: table-cell;
    padding-top: 2em;
    padding-right: 2em;
  }
  
  .breadcrumb {
    background-color: #222;
    display: table-cell;
    padding-right: 15em;
    padding-left: 3em;    
  }
  .basic {
    margin-top: 0;
  }
</style>

<div class="row">
  <div class="content-column">
    {{ content }}
  </div>
  <div class="breadcrumb">
    <div id="toc">
    </div>
  </div>
</div>
<div class="clearfix"></div>


<script src="/js/libs/jquery.toc.min.js"></script>
<script>
  $('#toc').toc();
</script>