---
layout: core
---

<div class="row" style="margin-top:-2em">
  <div class="content-column">
    {{ content }}
  </div>
  <div class="breadcrumb">
    <div id="toc">
    </div>
  </div>
</div>
<div class="clearfix"></div>


<script src="/js/libs/jquery.toc.min.js"></script>
<script>
  $('#toc').toc({ headerText: function (i, heading, $heading) {
    var aerogear = 'AeroGear', text = $heading.text();
    if (text.slice(0, aerogear.length) == aerogear) {
      return text.replace(' ', '.');
    }
    return text;
  }});
</script>