<!doctype html>
<html>
<head>
{% include header.html %}
</head>

<body>    

{% include navigation.html %}

{% include jboss-dropup.html %}

<section class="main-banner">
  <div class="container">
    {% include inner-header.html %}
  </div><!-- container -->
</section> <!-- main banner -->


<section class="{{ page.section }}">


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 post">
        {{ content }}
      </div><!-- col 8 -->
    </div><!-- row -->
  </div><!-- container -->
</section>



{% include footer.html %}

{% include js.html %}

</body>
</html>