<!doctype html>
<html>
<head>
{% include header.html %}
</head>

<body>    

{% include navigation.html %}

<section class="main-banner">
  <div class="container">
    {% include inner-header.html %}
  </div><!-- container -->
</section> <!-- main banner -->


<section class="{{ page.section }}">
  
  <div class="container">
     {% include breadcrumbs.html %}
  </div><!-- container -->


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 post">

        <h1>{{ page.title }}</h1>
          
        <div class="media">
          <div class="media-left">
            <img src="{{ site.data.people[page.author]['avatar'] }}" />
          </div>
          <div class="media-body">
            <p class="article-subtitle">by
              <span itemprop="author">
                {{ site.data.people[page.author]['name'] }}
              </span>
            </p>
            <p class="article-date" itemprop="datePublished" content="{{page.date |  date: "%Y-%m-%d" }}">
              posted on {{page.date |  date: "%-d %b %Y" }}
            </p>
          </div>
        </div>

        {{ content }}
        
        
        <ul class="list-inline article-extra-info">

          {% if page.module %}
          {% if site.data['modules'][page.module] %}
          {% assign module = site.data['modules'][page.module] %}
          <li class="article-extra-info-module">
            <strong>module:</strong>
            <a href="#">
              <i class="fa {{module.icon}}"></i>
              <strong>{{module.name}}</strong>
            </a>
          </li>
          {% endif %}
          {% endif %}

          {% if page.platform %}
          {% if site.data['sdk'][page.platform] %}
          {% assign platform = site.data['sdk'][page.platform] %}
          <li class="article-extra-info-platform">
            <strong>platform:</strong>
              <a href="#">
                <i class="fa {{ platform.icon }}"></i>
                {{ platform.name }}
              </a>
          </li>
          {% endif %}
          {% endif %}

          {% if page.releases %}
          <li class="article-extra-info-release">
            <strong>releases:</strong> 
              <a href="#">
                {{ page.releases }}
              </a>
          </li>
          {% endif %}
        </ul>

        {% if page.tags %}
        <div class="tag-cloud">
          {% for tag in page.tags %}
          <a href="#"><i class="fa fa-tag"></i> {{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}
        

      </div><!-- col 8 -->
    </div><!-- row -->
  </div><!-- container -->
</section>



{% include footer.html %}

{% include js.html %}

</body>
</html>
