<!doctype html>
<html>
<head>
{% include header.html %}
</head>

<body>    

{% include navigation.html %}

{% include jboss-dropup.html %}

<section class="main-banner">
  <div class="container">
    {% include inner-header.html %}
  </div><!-- container -->
</section> <!-- main banner -->


<section class="{{ page.section }}">
  
  <div class="container">
    <ol class="breadcrumb" style="margin:0">
      <li><a href="{{ page.breadcrumbs-url }}">
        {% if page.section == 'guides' %}
          Guides
        {% else if page.section == 'modules' %}
          Modules
        {% else if page.section == 'news' %}
          News
        {% endif %}
        </a></li>
  {% if page.third-section-title %} 
      <li><a href="{{ page.breadcrumbs-url }}">{{ page.sub-section-title }}</a></li>
      <li><a href="{{ page.breadcrumbs-sub-url }}">{{ page.third-section-title }}</a></li>
      <li class="active">{{page.title}}</li>
  {% else %}
      <li><a href="{{ page.breadcrumbs-url }}">{{ page.sub-section-title }}</a></li>
      <li class="active">{{page.title}}</li>
  {% endif %}
    </ol>
  </div><!-- container -->


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 post">
      {% if page.section == 'modules' %} 
        {{ content }}
      {% else %}
        <h1>{{ page.title }}</h1>
        {{ content }}
      {% endif %}
      </div><!-- col 8 -->
    </div><!-- row -->
  </div><!-- container -->
</section>



{% include footer.html %}

{% include js.html %}

</body>
</html>