<!doctype html>
<html>
<head>
{% include header.html %}
</head>

<body>    

{% include navigation.html %}

{% include jboss-dropup.html %}

<section class="main-banner">
  <div class="container">
    {% include inner-header.html %}
  </div><!-- container -->
</section> <!-- main banner -->


<section class="{{ page.section }}">
  
  <div class="container">
    <ol class="breadcrumb" style="margin:0">
     
      <li>
        {% if page.section == 'guides' %}
          <a href="{{ site.baseurl }}/getstarted/guides/">Guides</a>
        {% else if page.section == 'modules' %}
          <a href="{{ site.baseurl }}/modules//">Modules</a>
        {% else if page.section == 'news' %}
          <a href="{{ site.baseurl }}/news/">News</a>
        {% else if page.section == 'community' %}
          <a href="{{ site.baseurl }}/community/">Community</a>
        {% endif %}
      </li>
      <li class="active">{{page.title}}</li>
    </ol>
  </div><!-- container -->


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 post">
      {% if page.section == 'modules' %} 
        {{ content }}
      {% else %}
        <h1>{{ page.title }}</h1>
        {{ content }}
      {% endif %}
      </div><!-- col 8 -->
    </div><!-- row -->
  </div><!-- container -->
</section>



{% include footer.html %}

{% include js.html %}

</body>
</html>